## **US Population in year of 2010 - 2023**

This notebook file is an enhancement of its original file from Data Professor (Chanin Nantasemanat) about US population between year of 2010 - 2019 where I added 2020 - 2023 data. I obtained them from US Census institution.

In [28]:
import pandas as pd

df_1 = pd.read_csv('https://raw.githubusercontent.com/dataprofessor/dashboard-v3/master/data/us-population-2010-2019.csv')
df_1

,states,id,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Alabama,1,"4,785,437","4,799,069","4,815,588","4,830,081","4,841,799","4,852,347","4,863,525","4,874,486","4,887,681","4,903,185"
1,Alaska,2,"713,910","722,128","730,443","737,068","736,283","737,498","741,456","739,700","735,139","731,545"
2,Arizona,4,"6,407,172","6,472,643","6,554,978","6,632,764","6,730,413","6,829,676","6,941,072","7,044,008","7,158,024","7,278,717"
3,Arkansas,5,"2,921,964","2,940,667","2,952,164","2,959,400","2,967,392","2,978,048","2,989,918","3,001,345","3,009,733","3,017,804"
4,California,6,"37,319,502","37,638,369","37,948,800","38,260,787","38,596,972","38,918,045","39,167,117","39,358,497","39,461,588","39,512,223"
5,Colorado,8,"5,047,349","5,121,108","5,192,647","5,269,035","5,350,101","5,450,623","5,539,215","5,611,885","5,691,287","5,758,736"
6,Connecticut,9,"3,579,114","3,588,283","3,594,547","3,594,841","3,594,524","3,587,122","3,578,141","3,573,297","3,571,520","3,565,287"
7,Delaware,10,"899,593","907,381","915,179","923,576","932,487","941,252","948,921","956,823","965,479","973,764"
8,District of Columbia,11,"605,226","619,800","634,924","650,581","662,328","675,400","685,815","694,906","701,547","705,749"
9,Florida,12,"18,845,537","19,053,237","19,297,822","19,545,621","19,845,911","20,209,042","20,613,477","20,963,613","21,244,317","21,477,737"
10,Georgia,13,"9,711,881","9,802,431","9,901,430","9,972,479","10,067,278","10,178,447","10,301,890","10,410,330","10,511,131","10,617,423"
11,Hawaii,15,"1,363,963","1,379,329","1,394,804","1,408,243","1,414,538","1,422,052","1,427,559","1,424,393","1,420,593","1,415,872"
12,Idaho,16,"1,570,746","1,583,910","1,595,324","1,611,206","1,631,112","1,651,059","1,682,380","1,717,715","1,750,536","1,787,065"
13,Illinois,17,"12,840,503","12,867,454","12,882,510","12,895,129","12,884,493","12,858,913","12,820,527","12,778,828","12,723,071","12,671,821"
14,Indiana,18,"6,490,432","6,516,528","6,537,703","6,568,713","6,593,644","6,608,422","6,634,304","6,658,078","6,695,497","6,732,219"
15,Iowa,19,"3,050,745","3,066,336","3,076,190","3,092,997","3,109,350","3,120,960","3,131,371","3,141,550","3,148,618","3,155,070"
16,Kansas,20,"2,858,190","2,869,225","2,885,257","2,893,212","2,900,475","2,909,011","2,910,844","2,908,718","2,911,359","2,913,314"
17,Kentucky,21,"4,348,181","4,369,821","4,386,346","4,404,659","4,414,349","4,425,976","4,438,182","4,452,268","4,461,153","4,467,673"
18,Louisiana,22,"4,544,532","4,575,625","4,600,972","4,624,527","4,644,013","4,664,628","4,678,135","4,670,560","4,659,690","4,648,794"
19,Maine,23,"1,327,629","1,328,284","1,327,729","1,328,009","1,330,513","1,328,262","1,331,317","1,334,612","1,339,057","1,344,212"
20,Maryland,24,"5,788,645","5,839,419","5,886,992","5,923,188","5,957,283","5,985,562","6,003,323","6,023,868","6,035,802","6,045,680"
21,Massachusetts,25,"6,566,307","6,613,583","6,663,005","6,713,315","6,762,596","6,794,228","6,823,608","6,859,789","6,882,635","6,892,503"
22,Michigan,26,"9,877,510","9,882,412","9,897,145","9,913,065","9,929,848","9,931,715","9,950,571","9,973,114","9,984,072","9,986,857"
23,Minnesota,27,"5,310,828","5,346,143","5,376,643","5,413,479","5,451,079","5,482,032","5,522,744","5,566,230","5,606,249","5,639,632"
24,Mississippi,28,"2,970,548","2,978,731","2,983,816","2,988,711","2,990,468","2,988,471","2,987,938","2,988,510","2,981,020","2,976,149"
25,Missouri,29,"5,995,974","6,010,275","6,024,367","6,040,715","6,056,202","6,071,732","6,087,135","6,106,670","6,121,623","6,137,428"
26,Montana,30,"990,697","997,316","1,003,783","1,013,569","1,021,869","1,030,475","1,040,859","1,052,482","1,060,665","1,068,778"
27,Nebraska,31,"1,829,542","1,840,672","1,853,303","1,865,279","1,879,321","1,891,277","1,905,616","1,915,947","1,925,614","1,934,408"
28,Nevada,32,"2,702,405","2,712,730","2,743,996","2,775,970","2,817,628","2,866,939","2,917,563","2,969,905","3,027,341","3,080,156"
29,New Hampshire,33,"1,316,762","1,320,202","1,324,232","1,326,622","1,333,341","1,336,350","1,342,307","1,348,787","1,353,465","1,359,711"
30,New Jersey,34,"8,799,446","8,828,117","8,844,942","8,856,972","8,864,525","8,867,949","8,870,827","8,885,525","8,886,025","8,882,190"
31,New Mexico,35,"2,064,552","2,080,450","2,087,309","2,092,273","2,089,568","2,089,291","2,091,630","2,091,784","2,092,741","2,096,829"
32,New York,36,"19,399,878","19,499,241","19,572,932","19,624,447","19,651,049","19,654,666","19,633,428","19,589,572","19,530,351","19,453,561"
33,North Carolina,37,"9,574,323","9,657,592","9,749,476","9,843,336","9,932,887","10,031,646","10,154,788","10,268,233","10,381,615","10,488,084"
34,North Dakota,38,"674,715","685,225","701,176","722,036","737,401","754,066","754,434","754,942","758,080","762,062"
35,Ohio,39,"11,539,336","11,544,663","11,548,923","11,576,684","11,602,700","11,617,527","11,634,370","11,659,650","11,676,341","11,689,100"
36,Oklahoma,40,"3,759,944","3,788,379","3,818,814","3,853,214","3,878,187","3,909,500","3,926,331","3,931,316","3,940,235","3,956,971"
37,Oregon,41,"3,837,491","3,872,036","3,899,001","3,922,468","3,963,244","4,015,792","4,089,976","4,143,625","4,181,886","4,217,737"
38,Pennsylvania,42,"12,711,160","12,745,815","12,767,118","12,776,309","12,788,313","12,784,826","12,782,275","12,787,641","12,800,922","12,801,989"
39,Rhode Island,44,"1,053,959","1,053,649","1,054,621","1,055,081","1,055,936","1,056,065","1,056,770","1,055,673","1,058,287","1,059,361"
40,South Carolina,45,"4,635,649","4,671,994","4,717,354","4,764,080","4,823,617","4,891,938","4,957,968","5,021,268","5,084,156","5,148,714"
41,South Dakota,46,"816,166","823,579","833,566","842,316","849,129","853,988","862,996","872,868","878,698","884,659"
42,Tennessee,47,"6,355,311","6,399,291","6,453,898","6,494,340","6,541,223","6,591,170","6,646,010","6,708,799","6,771,631","6,829,174"
43,Texas,48,"25,241,971","25,645,629","26,084,481","26,480,266","26,964,333","27,470,056","27,914,410","28,295,273","28,628,666","28,995,881"
44,Utah,49,"2,775,332","2,814,384","2,853,375","2,897,640","2,936,879","2,981,835","3,041,868","3,101,042","3,153,550","3,205,958"
45,Vermont,50,"625,879","627,049","626,090","626,210","625,214","625,216","623,657","624,344","624,358","623,989"
46,Virginia,51,"8,023,699","8,101,155","8,185,080","8,252,427","8,310,993","8,361,808","8,410,106","8,463,587","8,501,286","8,535,519"
47,Washington,53,"6,742,830","6,826,627","6,897,058","6,963,985","7,054,655","7,163,657","7,294,771","7,423,362","7,523,869","7,614,893"
48,West Virginia,54,"1,854,239","1,856,301","1,856,872","1,853,914","1,849,489","1,842,050","1,831,023","1,817,004","1,804,291","1,792,147"
49,Wisconsin,55,"5,690,475","5,705,288","5,719,960","5,736,754","5,751,525","5,760,940","5,772,628","5,790,186","5,807,406","5,822,434"
50,Wyoming,56,"564,487","567,299","576,305","582,122","582,531","585,613","584,215","578,931","577,601","578,759"
51,Puerto Rico,72,"3,721,525","3,678,732","3,634,488","3,593,077","3,534,874","3,473,232","3,406,672","3,325,286","3,193,354","3,193,694"

In [29]:
states_abbreviation = {
    "Alabama": "AL",
    "Alaska": "AK",
    "Arizona": "AZ",
    "Arkansas": "AR",
    "California": "CA",
    "Colorado": "CO",
    "Connecticut": "CT",
    "Delaware": "DE",
    "Florida": "FL",
    "Georgia": "GA",
    "Hawaii": "HI",
    "Idaho": "ID",
    "Illinois": "IL",
    "Indiana": "IN",
    "Iowa": "IA",
    "Kansas": "KS",
    "Kentucky": "KY",
    "Louisiana": "LA",
    "Maine": "ME",
    "Maryland": "MD",
    "Massachusetts": "MA",
    "Michigan": "MI",
    "Minnesota": "MN",
    "Mississippi": "MS",
    "Missouri": "MO",
    "Montana": "MT",
    "Nebraska": "NE",
    "Nevada": "NV",
    "New Hampshire": "NH",
    "New Jersey": "NJ",
    "New Mexico": "NM",
    "New York": "NY",
    "North Carolina": "NC",
    "North Dakota": "ND",
    "Ohio": "OH",
    "Oklahoma": "OK",
    "Oregon": "OR",
    "Pennsylvania": "PA",
    "Rhode Island": "RI",
    "South Carolina": "SC",
    "South Dakota": "SD",
    "Tennessee": "TN",
    "Texas": "TX",
    "Utah": "UT",
    "Vermont": "VT",
    "Virginia": "VA",
    "Washington": "WA",
    "West Virginia": "WV",
    "Wisconsin": "WI",
    "Wyoming": "WY",
    "District of Columbia": "DC",
    "American Samoa": "AS",
    "Guam": "GU",
    "Northern Mariana Islands": "MP",
    "Puerto Rico": "PR",
    "United States Minor Outlying Islands": "UM",
    "U.S. Virgin Islands": "VI",
}

# invert the dictionary
# abbrev_to_us_state = dict(map(reversed, us_state_to_abbrev.items()))

df_1['states_code'] = [states_abbreviation[x] for x in df_1.states]
df_1

,states,id,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,states_code
0,Alabama,1,"4,785,437","4,799,069","4,815,588","4,830,081","4,841,799","4,852,347","4,863,525","4,874,486","4,887,681","4,903,185",AL
1,Alaska,2,"713,910","722,128","730,443","737,068","736,283","737,498","741,456","739,700","735,139","731,545",AK
2,Arizona,4,"6,407,172","6,472,643","6,554,978","6,632,764","6,730,413","6,829,676","6,941,072","7,044,008","7,158,024","7,278,717",AZ
3,Arkansas,5,"2,921,964","2,940,667","2,952,164","2,959,400","2,967,392","2,978,048","2,989,918","3,001,345","3,009,733","3,017,804",AR
4,California,6,"37,319,502","37,638,369","37,948,800","38,260,787","38,596,972","38,918,045","39,167,117","39,358,497","39,461,588","39,512,223",CA
5,Colorado,8,"5,047,349","5,121,108","5,192,647","5,269,035","5,350,101","5,450,623","5,539,215","5,611,885","5,691,287","5,758,736",CO
6,Connecticut,9,"3,579,114","3,588,283","3,594,547","3,594,841","3,594,524","3,587,122","3,578,141","3,573,297","3,571,520","3,565,287",CT
7,Delaware,10,"899,593","907,381","915,179","923,576","932,487","941,252","948,921","956,823","965,479","973,764",DE
8,District of Columbia,11,"605,226","619,800","634,924","650,581","662,328","675,400","685,815","694,906","701,547","705,749",DC
9,Florida,12,"18,845,537","19,053,237","19,297,822","19,545,621","19,845,911","20,209,042","20,613,477","20,963,613","21,244,317","21,477,737",FL
10,Georgia,13,"9,711,881","9,802,431","9,901,430","9,972,479","10,067,278","10,178,447","10,301,890","10,410,330","10,511,131","10,617,423",GA
11,Hawaii,15,"1,363,963","1,379,329","1,394,804","1,408,243","1,414,538","1,422,052","1,427,559","1,424,393","1,420,593","1,415,872",HI
12,Idaho,16,"1,570,746","1,583,910","1,595,324","1,611,206","1,631,112","1,651,059","1,682,380","1,717,715","1,750,536","1,787,065",ID
13,Illinois,17,"12,840,503","12,867,454","12,882,510","12,895,129","12,884,493","12,858,913","12,820,527","12,778,828","12,723,071","12,671,821",IL
14,Indiana,18,"6,490,432","6,516,528","6,537,703","6,568,713","6,593,644","6,608,422","6,634,304","6,658,078","6,695,497","6,732,219",IN
15,Iowa,19,"3,050,745","3,066,336","3,076,190","3,092,997","3,109,350","3,120,960","3,131,371","3,141,550","3,148,618","3,155,070",IA
16,Kansas,20,"2,858,190","2,869,225","2,885,257","2,893,212","2,900,475","2,909,011","2,910,844","2,908,718","2,911,359","2,913,314",KS
17,Kentucky,21,"4,348,181","4,369,821","4,386,346","4,404,659","4,414,349","4,425,976","4,438,182","4,452,268","4,461,153","4,467,673",KY
18,Louisiana,22,"4,544,532","4,575,625","4,600,972","4,624,527","4,644,013","4,664,628","4,678,135","4,670,560","4,659,690","4,648,794",LA
19,Maine,23,"1,327,629","1,328,284","1,327,729","1,328,009","1,330,513","1,328,262","1,331,317","1,334,612","1,339,057","1,344,212",ME
20,Maryland,24,"5,788,645","5,839,419","5,886,992","5,923,188","5,957,283","5,985,562","6,003,323","6,023,868","6,035,802","6,045,680",MD
21,Massachusetts,25,"6,566,307","6,613,583","6,663,005","6,713,315","6,762,596","6,794,228","6,823,608","6,859,789","6,882,635","6,892,503",MA
22,Michigan,26,"9,877,510","9,882,412","9,897,145","9,913,065","9,929,848","9,931,715","9,950,571","9,973,114","9,984,072","9,986,857",MI
23,Minnesota,27,"5,310,828","5,346,143","5,376,643","5,413,479","5,451,079","5,482,032","5,522,744","5,566,230","5,606,249","5,639,632",MN
24,Mississippi,28,"2,970,548","2,978,731","2,983,816","2,988,711","2,990,468","2,988,471","2,987,938","2,988,510","2,981,020","2,976,149",MS
25,Missouri,29,"5,995,974","6,010,275","6,024,367","6,040,715","6,056,202","6,071,732","6,087,135","6,106,670","6,121,623","6,137,428",MO
26,Montana,30,"990,697","997,316","1,003,783","1,013,569","1,021,869","1,030,475","1,040,859","1,052,482","1,060,665","1,068,778",MT
27,Nebraska,31,"1,829,542","1,840,672","1,853,303","1,865,279","1,879,321","1,891,277","1,905,616","1,915,947","1,925,614","1,934,408",NE
28,Nevada,32,"2,702,405","2,712,730","2,743,996","2,775,970","2,817,628","2,866,939","2,917,563","2,969,905","3,027,341","3,080,156",NV
29,New Hampshire,33,"1,316,762","1,320,202","1,324,232","1,326,622","1,333,341","1,336,350","1,342,307","1,348,787","1,353,465","1,359,711",NH
30,New Jersey,34,"8,799,446","8,828,117","8,844,942","8,856,972","8,864,525","8,867,949","8,870,827","8,885,525","8,886,025","8,882,190",NJ
31,New Mexico,35,"2,064,552","2,080,450","2,087,309","2,092,273","2,089,568","2,089,291","2,091,630","2,091,784","2,092,741","2,096,829",NM
32,New York,36,"19,399,878","19,499,241","19,572,932","19,624,447","19,651,049","19,654,666","19,633,428","19,589,572","19,530,351","19,453,561",NY
33,North Carolina,37,"9,574,323","9,657,592","9,749,476","9,843,336","9,932,887","10,031,646","10,154,788","10,268,233","10,381,615","10,488,084",NC
34,North Dakota,38,"674,715","685,225","701,176","722,036","737,401","754,066","754,434","754,942","758,080","762,062",ND
35,Ohio,39,"11,539,336","11,544,663","11,548,923","11,576,684","11,602,700","11,617,527","11,634,370","11,659,650","11,676,341","11,689,100",OH
36,Oklahoma,40,"3,759,944","3,788,379","3,818,814","3,853,214","3,878,187","3,909,500","3,926,331","3,931,316","3,940,235","3,956,971",OK
37,Oregon,41,"3,837,491","3,872,036","3,899,001","3,922,468","3,963,244","4,015,792","4,089,976","4,143,625","4,181,886","4,217,737",OR
38,Pennsylvania,42,"12,711,160","12,745,815","12,767,118","12,776,309","12,788,313","12,784,826","12,782,275","12,787,641","12,800,922","12,801,989",PA
39,Rhode Island,44,"1,053,959","1,053,649","1,054,621","1,055,081","1,055,936","1,056,065","1,056,770","1,055,673","1,058,287","1,059,361",RI
40,South Carolina,45,"4,635,649","4,671,994","4,717,354","4,764,080","4,823,617","4,891,938","4,957,968","5,021,268","5,084,156","5,148,714",SC
41,South Dakota,46,"816,166","823,579","833,566","842,316","849,129","853,988","862,996","872,868","878,698","884,659",SD
42,Tennessee,47,"6,355,311","6,399,291","6,453,898","6,494,340","6,541,223","6,591,170","6,646,010","6,708,799","6,771,631","6,829,174",TN
43,Texas,48,"25,241,971","25,645,629","26,084,481","26,480,266","26,964,333","27,470,056","27,914,410","28,295,273","28,628,666","28,995,881",TX
44,Utah,49,"2,775,332","2,814,384","2,853,375","2,897,640","2,936,879","2,981,835","3,041,868","3,101,042","3,153,550","3,205,958",UT
45,Vermont,50,"625,879","627,049","626,090","626,210","625,214","625,216","623,657","624,344","624,358","623,989",VT
46,Virginia,51,"8,023,699","8,101,155","8,185,080","8,252,427","8,310,993","8,361,808","8,410,106","8,463,587","8,501,286","8,535,519",VA
47,Washington,53,"6,742,830","6,826,627","6,897,058","6,963,985","7,054,655","7,163,657","7,294,771","7,423,362","7,523,869","7,614,893",WA
48,West Virginia,54,"1,854,239","1,856,301","1,856,872","1,853,914","1,849,489","1,842,050","1,831,023","1,817,004","1,804,291","1,792,147",WV
49,Wisconsin,55,"5,690,475","5,705,288","5,719,960","5,736,754","5,751,525","5,760,940","5,772,628","5,790,186","5,807,406","5,822,434",WI
50,Wyoming,56,"564,487","567,299","576,305","582,122","582,531","585,613","584,215","578,931","577,601","578,759",WY
51,Puerto Rico,72,"3,721,525","3,678,732","3,634,488","3,593,077","3,534,874","3,473,232","3,406,672","3,325,286","3,193,354","3,193,694",PR

In [30]:
df_2 = pd.read_csv('https://raw.githubusercontent.com/merhantine/Datasets/main/NST-EST2023-ALLDATA.csv')
pd.set_option('display.max_rows', None)
df_2

,SUMLEV,REGION,DIVISION,STATE,NAME,ESTIMATESBASE2020,POPESTIMATE2020,POPESTIMATE2021,POPESTIMATE2022,POPESTIMATE2023,...,RNATURALCHG2023,RINTERNATIONALMIG2021,RINTERNATIONALMIG2022,RINTERNATIONALMIG2023,RDOMESTICMIG2021,RDOMESTICMIG2022,RDOMESTICMIG2023,RNETMIG2021,RNETMIG2022,RNETMIG2023
0,10,0,0,0,United States,331464948,331526933,332048977,333271411,334914895,...,1.510043,1.133278,3.003867,3.409196,0.000000,0.000000,0.000000,1.133278,3.003867,3.409196
1,20,1,0,0,Northeast Region,57614141,57430477,57243423,57026847,56983517,...,0.976280,1.403074,3.678035,3.947167,-4.823207,-7.881683,-5.671414,-3.420133,-4.203648,-1.724247
2,30,1,1,0,New England,15119994,15057898,15106108,15120739,15159777,...,-0.019551,1.772643,4.532659,5.024221,1.615767,-3.086263,-2.445863,3.388409,1.446396,2.578358
3,30,1,2,0,Middle Atlantic,42494147,42372579,42137315,41906108,41823740,...,1.336417,1.271165,3.370662,3.557656,-7.121462,-9.606391,-6.837920,-5.850297,-6.235729,-3.280264
4,20,2,0,0,Midwest Region,68987296,68969794,68850246,68783028,68909283,...,0.665803,0.802684,2.098649,2.409866,-2.577042,-2.636615,-1.245226,-1.774357,-0.537966,1.164640
5,30,2,3,0,East North Central,47369629,47345074,47187461,47098310,47146039,...,0.267730,0.783328,2.059865,2.608369,-3.730335,-3.042877,-1.867613,-2.947007,-0.983012,0.740755
6,30,2,4,0,West North Central,21617667,21624720,21662785,21684718,21763244,...,1.529278,0.844955,2.183009,1.979287,-0.058446,-1.752950,0.104815,0.786509,0.430059,2.084102
7,20,3,0,0,South Region,126268529,126465281,127353282,128702030,130125290,...,1.679436,1.223063,3.180789,3.862653,5.640927,6.689031,5.457430,6.863990,9.869821,9.320083
8,30,3,5,0,South Atlantic,66091701,66174797,66673601,67445114,68225883,...,0.814574,1.471181,3.796204,4.698587,6.559311,7.723739,5.999602,8.030492,11.519943,10.698189
9,30,3,6,0,East South Central,19402683,19424519,19471271,19573370,19700801,...,-0.200794,0.375568,0.940360,1.571771,3.739016,5.938331,5.118479,4.114584,6.878690,6.690249
10,30,3,7,0,West South Central,40774145,40865965,41208410,41683546,42198606,...,3.958601,1.223086,3.240363,3.583218,5.055731,5.368482,4.739220,6.278817,8.608845,8.322438
11,20,4,0,0,West Region,78594982,78661381,78602026,78759506,78896805,...,2.355275,1.081358,3.018158,3.148494,-3.328861,-2.854789,-3.770696,-2.247503,0.163369,-0.622202
12,30,4,8,0,Mountain,24925576,25004426,25277400,25522359,25716830,...,2.247694,0.850884,2.288397,2.238677,8.559872,6.035501,3.091267,9.410756,8.323898,5.329944
13,30,4,9,0,Pacific,53669406,53656955,53324626,53237147,53179975,...,2.407075,1.189681,3.366048,3.586566,-8.916619,-7.092938,-7.074689,-7.726938,-3.726890,-3.488123
14,40,3,6,1,Alabama,5024294,5031864,5050380,5073903,5108468,...,-0.306805,0.358254,0.864061,1.057514,5.497784,5.622917,6.038672,5.856038,6.486978,7.096186
15,40,4,9,2,Alaska,733374,732964,734923,733276,733406,...,5.024947,1.189465,3.209374,2.732699,-4.016658,-9.810659,-7.558557,-2.827193,-6.601285,-4.825859
16,40,4,8,4,Arizona,7157902,7186683,7272487,7365684,7431344,...,1.041020,1.107947,3.046282,2.924236,11.382396,9.536437,4.890036,12.490343,12.582720,7.814272
17,40,3,7,5,Arkansas,3011490,3014348,3028443,3046404,3067732,...,-0.296690,0.445490,1.058463,1.339846,5.893303,6.202955,5.922668,6.338793,7.261417,7.262514
18,40,4,9,6,California,39538212,39503200,39145060,39040616,38965193,...,2.856608,1.121856,3.236322,3.871045,-11.668713,-8.512685,-8.675533,-10.546858,-5.276363,-4.804488
19,40,4,8,8,Colorado,5773707,5785219,5811596,5841039,5877610,...,2.969455,0.674840,1.787235,2.036242,0.931980,1.162312,1.234955,1.606820,2.949547,3.271196
20,40,1,1,9,Connecticut,3605912,3577586,3603691,3608706,3617176,...,0.585396,1.731447,4.315348,4.224813,5.300450,-2.795465,-2.495474,7.031897,1.519883,1.729339
21,40,3,5,10,Delaware,989946,991862,1004881,1019459,1031890,...,-0.167695,0.940532,2.349408,2.220003,13.305668,12.516672,10.061672,14.246200,14.866080,12.281674
22,40,3,5,11,District of Columbia,689548,670839,669037,670949,678972,...,3.862448,2.604719,6.756787,10.325049,-9.778517,-7.338883,-2.235686,-7.173798,-0.582096,8.089362
23,40,3,5,12,Florida,21538216,21591299,21830708,22245521,22610726,...,-0.338994,2.158583,5.501060,7.955726,11.267052,14.426053,8.669383,13.425635,19.927113,16.625109
24,40,3,5,13,Georgia,10713771,10732390,10790385,10913150,11029227,...,2.535459,0.944209,2.488995,2.745281,3.284056,7.427269,5.305350,4.228265,9.916265,8.050632
25,40,4,9,15,Hawaii,1455274,1451181,1446745,1439399,1435138,...,1.638525,1.409974,4.100281,3.219301,-6.889065,-10.854621,-7.787689,-5.479091,-6.754341,-4.568388
26,40,4,8,16,Idaho,1839117,1849339,1904537,1938996,1964726,...,2.889038,0.371882,0.925711,2.389514,27.451093,14.874856,7.884270,27.822976,15.800567,10.273785
27,40,2,3,17,Illinois,12813469,12790357,12690341,12582515,12549689,...,0.831841,0.898484,2.470951,3.222320,-9.077930,-11.269245,-6.671838,-8.179446,-8.798293,-3.449518
28,40,2,3,18,Indiana,6785442,6789098,6813798,6832274,6862199,...,1.096501,0.891722,2.268052,2.609666,2.371848,0.734424,0.671658,3.263570,3.002476,3.281324
29,40,2,4,19,Iowa,3190427,3190904,3197944,3199693,3207004,...,1.179703,1.158581,2.924517,2.220177,0.565047,-2.497797,-1.124761,1.723628,0.426720,1.095416
30,40,2,4,20,Kansas,2937835,2938124,2937946,2936716,2940546,...,1.510567,0.704212,1.878576,1.338038,-1.693309,-2.384478,-1.556507,-0.989096,-0.505901,-0.218469
31,40,3,6,21,Kentucky,4506297,4508155,4507600,4511563,4526154,...,-0.443696,0.389762,0.983683,1.687816,0.713418,2.084451,1.983908,1.103180,3.068134,3.671724
32,40,3,7,22,Louisiana,4657785,4652022,4627047,4588023,4573749,...,1.334895,0.686060,1.785119,2.024499,-6.104923,-10.317664,-6.481716,-5.418863,-8.532545,-4.457216
33,40,1,1,23,Maine,1363177,1364517,1378787,1389338,1395722,...,-3.628647,0.737796,1.809167,1.586321,13.077661,10.014721,6.618170,13.815458,11.823888,8.204491
34,40,3,5,24,Maryland,6177253,6173689,6175045,6163981,6180253,...,2.300507,1.464280,3.814888,5.342899,-2.863937,-7.412903,-5.007196,-1.399658,-3.598015,0.335703
35,40,1,1,25,Massachusetts,7032933,6997713,6991951,6982740,7001399,...,0.998703,2.355596,6.144250,7.243492,-3.755487,-8.130842,-5.599058,-1.399891,-1.986591,1.644434
36,40,2,3,26,Michigan,10077674,10070627,10038117,10033281,10037261,...,-0.401584,0.700591,1.869925,2.273681,-2.971941,-0.855745,-1.499810,-2.271350,1.014179,0.773870
37,40,2,4,27,Minnesota,5706804,5710578,5717968,5714300,5737915,...,2.417524,0.966527,2.489620,2.545359,-1.905229,-5.054640,-0.818357,-0.938702,-2.565020,1.727002
38,40,3,6,28,Mississippi,2961306,2958409,2949582,2938928,2939690,...,-0.477663,0.212255,0.528147,1.633037,-1.169941,-1.953635,-0.889325,-0.957686,-1.425488,0.743712
39,40,2,4,29,Missouri,6154889,6154426,6170393,6177168,6196156,...,-0.008890,0.626703,1.640324,1.269182,2.727991,0.747354,1.805659,3.354694,2.387678,3.074841
40,40,4,8,30,Montana,1084244,1087211,1106366,1122878,1132812,...,-0.151617,0.649168,1.608617,0.539968,18.577875,14.208404,8.409844,19.227043,15.817021,8.949811
41,40,2,4,31,Nebraska,1961965,1963273,1964253,1968060,1978379,...,2.888173,0.804578,2.055788,2.757423,-3.074200,-2.221085,-0.422660,-2.269622,-0.165297,2.334763
42,40,4,8,32,Nevada,3104617,3115840,3146632,3177421,3194176,...,1.171763,1.153538,3.219138,1.339068,8.107661,6.491407,2.712664,9.261199,9.710545,4.051731
43,40,1,1,33,New Hampshire,1377524,1378702,1387494,1399003,1402054,...,-1.505860,1.114888,2.751842,0.613340,6.117426,7.262165,3.068842,7.232315,10.014007,3.682181
44,40,1,2,34,New Jersey,9289039,9272392,9269175,9260817,9290841,...,2.748218,1.590480,4.169996,5.314673,-3.620082,-7.080953,-4.815311,-2.029602,-2.910956,0.499362
45,40,4,8,35,New Mexico,2117525,2118488,2116950,2113476,2114371,...,-0.764455,1.066714,2.760478,1.722863,-0.569481,-2.125554,-0.514683,0.497233,0.634924,1.208180
46,40,1,2,36,New York,20202320,20104710,19854526,19673200,19571216,...,2.116785,1.439917,3.910420,3.764459,-14.773005,-15.095278,-11.047584,-13.333088,-11.184858,-7.283125
47,40,3,5,37,North Carolina,10439459,10453812,10567100,10695965,10835491,...,1.175675,0.943822,2.462862,2.735347,9.695964,9.267149,9.034596,10.639786,11.730012,11.769943
48,40,2,4,38,North Dakota,779079,779563,777982,778912,783926,...,3.460371,0.581685,1.618607,2.940804,-5.146561,-3.503129,-0.011518,-4.564876,-1.884521,2.929286
49,40,2,3,39,Ohio,11799331,11798292,11765227,11759697,11785935,...,-0.209126,0.787658,2.018030,2.385241,-2.344641,-0.413349,0.054108,-1.556983,1.604681,2.439348
50,40,3,7,40,Oklahoma,3959411,3965234,3991634,4019271,4053824,...,0.635940,0.549965,1.413823,2.076032,6.622706,6.567048,5.843360,7.172671,7.980871,7.919392
51,40,4,9,41,Oregon,4237279,4245044,4256465,4239379,4233358,...,-1.000621,0.613773,1.702950,1.015964,2.412042,-4.137317,-1.428346,3.025816,-2.434367,-0.412382
52,40,1,2,42,Pennsylvania,13002788,12995477,13013614,12972091,12961683,...,-0.854407,0.784264,1.979627,1.987833,2.137945,-3.057912,-1.914492,2.922209,-1.078285,0.073341
53,40,1,1,44,Rhode Island,1097371,1096444,1097092,1093842,1095962,...,-0.390903,0.977417,2.430927,5.276271,0.332796,-4.431900,-2.944556,1.310213,-2.000973,2.331716
54,40,3,5,45,South Carolina,5118422,5132151,5193848,5282955,5373555,...,-0.238540,0.780167,1.998129,1.743723,13.048229,15.921078,15.495129,13.828396,17.919207,17.238852
55,40,2,4,46,South Dakota,886668,887852,896299,909869,919318,...,3.075683,1.233079,3.079448,1.954967,6.755034,9.272670,5.261354,7.988113,12.352118,7.216321
56,40,3,6,47,Tennessee,6910786,6926091,6963709,7048976,7126489,...,0.145039,0.448387,1.140823,1.841774,6.514277,11.963161,8.947431,6.962663,13.103984,10.789205
57,40,3,7,48,Texas,29145459,29234361,29561286,30029848,30503301,...,5.228639,1.478851,3.933370,4.246731,6.518952,7.547968,6.170735,7.997803,11.481339,10.417466
58,40,4,8,49,Utah,3271614,3283982,3339284,3381236,3417734,...,7.294046,0.620238,1.625469,3.025458,8.957514,4.107718,0.393589,9.577752,5.733187,3.419047
59,40,1,1,50,Vermont,643077,642936,647093,647110,647464,...,-2.787017,0.643396,1.559261,2.026922,7.506808,1.740067,1.303904,8.150204,3.299328,3.330825
60,40,3,5,51,Virginia,8631373,8637193,8657348,8679099,8715698,...,1.803873,1.653238,4.319686,3.232806,-0.632338,-2.876022,-0.803114,1.020900,1.443664,2.429692
61,40,4,9,53,Washington,7705267,7724566,7741433,7784477,7812880,...,1.905451,1.809906,4.807705,3.708192,-1.993793,-0.604409,-1.958793,-0.183887,4.203296,1.749399
62,40,3,5,54,West Virginia,1793713,1791562,1785249,1774035,1770071,...,-4.890373,0.406507,1.006944,0.621313,1.609255,0.232631,2.028720,2.015762,1.239575,2.650034
63,40,2,3,55,Wisconsin,5893713,5896700,5879978,5890543,5910955,...,0.194382,0.541579,1.343356,2.313774,-3.275966,1.256019,0.957167,-2.734387,2.599375,3.270941
64,40,4,8,56,Wyoming,576850,577664,579548,581629,584057,...,0.176720,0.231591,0.626950,0.552464,3.048707,4.262916,3.458907,3.280298,4.889866,4.011372
65,40,X,X,72,Puerto Rico,3285874,3281557,3262693,3220113,3205691,...,-5.071428,-1.319326,-8.656545,0.582651,0.000000,0.000000,0.000000,-1.319326,-8.656545,0.582651

In [31]:
# According to showing above dataframe, we are able to know values on each column.
# We just use and extract 6 columns of STATE, NAME, POPESTIMATE2020, POPESTIMATE2021, POPESTIMATE2022, POPESTIMATE2023.
# Then we just take all 51 states which have values on STATE, greater than 0.

In [32]:
display(df_2.loc[(df_2.STATE > 0) ])

,SUMLEV,REGION,DIVISION,STATE,NAME,ESTIMATESBASE2020,POPESTIMATE2020,POPESTIMATE2021,POPESTIMATE2022,POPESTIMATE2023,...,RNATURALCHG2023,RINTERNATIONALMIG2021,RINTERNATIONALMIG2022,RINTERNATIONALMIG2023,RDOMESTICMIG2021,RDOMESTICMIG2022,RDOMESTICMIG2023,RNETMIG2021,RNETMIG2022,RNETMIG2023
14,40,3,6,1,Alabama,5024294,5031864,5050380,5073903,5108468,...,-0.306805,0.358254,0.864061,1.057514,5.497784,5.622917,6.038672,5.856038,6.486978,7.096186
15,40,4,9,2,Alaska,733374,732964,734923,733276,733406,...,5.024947,1.189465,3.209374,2.732699,-4.016658,-9.810659,-7.558557,-2.827193,-6.601285,-4.825859
16,40,4,8,4,Arizona,7157902,7186683,7272487,7365684,7431344,...,1.041020,1.107947,3.046282,2.924236,11.382396,9.536437,4.890036,12.490343,12.582720,7.814272
17,40,3,7,5,Arkansas,3011490,3014348,3028443,3046404,3067732,...,-0.296690,0.445490,1.058463,1.339846,5.893303,6.202955,5.922668,6.338793,7.261417,7.262514
18,40,4,9,6,California,39538212,39503200,39145060,39040616,38965193,...,2.856608,1.121856,3.236322,3.871045,-11.668713,-8.512685,-8.675533,-10.546858,-5.276363,-4.804488
19,40,4,8,8,Colorado,5773707,5785219,5811596,5841039,5877610,...,2.969455,0.674840,1.787235,2.036242,0.931980,1.162312,1.234955,1.606820,2.949547,3.271196
20,40,1,1,9,Connecticut,3605912,3577586,3603691,3608706,3617176,...,0.585396,1.731447,4.315348,4.224813,5.300450,-2.795465,-2.495474,7.031897,1.519883,1.729339
21,40,3,5,10,Delaware,989946,991862,1004881,1019459,1031890,...,-0.167695,0.940532,2.349408,2.220003,13.305668,12.516672,10.061672,14.246200,14.866080,12.281674
22,40,3,5,11,District of Columbia,689548,670839,669037,670949,678972,...,3.862448,2.604719,6.756787,10.325049,-9.778517,-7.338883,-2.235686,-7.173798,-0.582096,8.089362
23,40,3,5,12,Florida,21538216,21591299,21830708,22245521,22610726,...,-0.338994,2.158583,5.501060,7.955726,11.267052,14.426053,8.669383,13.425635,19.927113,16.625109
24,40,3,5,13,Georgia,10713771,10732390,10790385,10913150,11029227,...,2.535459,0.944209,2.488995,2.745281,3.284056,7.427269,5.305350,4.228265,9.916265,8.050632
25,40,4,9,15,Hawaii,1455274,1451181,1446745,1439399,1435138,...,1.638525,1.409974,4.100281,3.219301,-6.889065,-10.854621,-7.787689,-5.479091,-6.754341,-4.568388
26,40,4,8,16,Idaho,1839117,1849339,1904537,1938996,1964726,...,2.889038,0.371882,0.925711,2.389514,27.451093,14.874856,7.884270,27.822976,15.800567,10.273785
27,40,2,3,17,Illinois,12813469,12790357,12690341,12582515,12549689,...,0.831841,0.898484,2.470951,3.222320,-9.077930,-11.269245,-6.671838,-8.179446,-8.798293,-3.449518
28,40,2,3,18,Indiana,6785442,6789098,6813798,6832274,6862199,...,1.096501,0.891722,2.268052,2.609666,2.371848,0.734424,0.671658,3.263570,3.002476,3.281324
29,40,2,4,19,Iowa,3190427,3190904,3197944,3199693,3207004,...,1.179703,1.158581,2.924517,2.220177,0.565047,-2.497797,-1.124761,1.723628,0.426720,1.095416
30,40,2,4,20,Kansas,2937835,2938124,2937946,2936716,2940546,...,1.510567,0.704212,1.878576,1.338038,-1.693309,-2.384478,-1.556507,-0.989096,-0.505901,-0.218469
31,40,3,6,21,Kentucky,4506297,4508155,4507600,4511563,4526154,...,-0.443696,0.389762,0.983683,1.687816,0.713418,2.084451,1.983908,1.103180,3.068134,3.671724
32,40,3,7,22,Louisiana,4657785,4652022,4627047,4588023,4573749,...,1.334895,0.686060,1.785119,2.024499,-6.104923,-10.317664,-6.481716,-5.418863,-8.532545,-4.457216
33,40,1,1,23,Maine,1363177,1364517,1378787,1389338,1395722,...,-3.628647,0.737796,1.809167,1.586321,13.077661,10.014721,6.618170,13.815458,11.823888,8.204491
34,40,3,5,24,Maryland,6177253,6173689,6175045,6163981,6180253,...,2.300507,1.464280,3.814888,5.342899,-2.863937,-7.412903,-5.007196,-1.399658,-3.598015,0.335703
35,40,1,1,25,Massachusetts,7032933,6997713,6991951,6982740,7001399,...,0.998703,2.355596,6.144250,7.243492,-3.755487,-8.130842,-5.599058,-1.399891,-1.986591,1.644434
36,40,2,3,26,Michigan,10077674,10070627,10038117,10033281,10037261,...,-0.401584,0.700591,1.869925,2.273681,-2.971941,-0.855745,-1.499810,-2.271350,1.014179,0.773870
37,40,2,4,27,Minnesota,5706804,5710578,5717968,5714300,5737915,...,2.417524,0.966527,2.489620,2.545359,-1.905229,-5.054640,-0.818357,-0.938702,-2.565020,1.727002
38,40,3,6,28,Mississippi,2961306,2958409,2949582,2938928,2939690,...,-0.477663,0.212255,0.528147,1.633037,-1.169941,-1.953635,-0.889325,-0.957686,-1.425488,0.743712
39,40,2,4,29,Missouri,6154889,6154426,6170393,6177168,6196156,...,-0.008890,0.626703,1.640324,1.269182,2.727991,0.747354,1.805659,3.354694,2.387678,3.074841
40,40,4,8,30,Montana,1084244,1087211,1106366,1122878,1132812,...,-0.151617,0.649168,1.608617,0.539968,18.577875,14.208404,8.409844,19.227043,15.817021,8.949811
41,40,2,4,31,Nebraska,1961965,1963273,1964253,1968060,1978379,...,2.888173,0.804578,2.055788,2.757423,-3.074200,-2.221085,-0.422660,-2.269622,-0.165297,2.334763
42,40,4,8,32,Nevada,3104617,3115840,3146632,3177421,3194176,...,1.171763,1.153538,3.219138,1.339068,8.107661,6.491407,2.712664,9.261199,9.710545,4.051731
43,40,1,1,33,New Hampshire,1377524,1378702,1387494,1399003,1402054,...,-1.505860,1.114888,2.751842,0.613340,6.117426,7.262165,3.068842,7.232315,10.014007,3.682181
44,40,1,2,34,New Jersey,9289039,9272392,9269175,9260817,9290841,...,2.748218,1.590480,4.169996,5.314673,-3.620082,-7.080953,-4.815311,-2.029602,-2.910956,0.499362
45,40,4,8,35,New Mexico,2117525,2118488,2116950,2113476,2114371,...,-0.764455,1.066714,2.760478,1.722863,-0.569481,-2.125554,-0.514683,0.497233,0.634924,1.208180
46,40,1,2,36,New York,20202320,20104710,19854526,19673200,19571216,...,2.116785,1.439917,3.910420,3.764459,-14.773005,-15.095278,-11.047584,-13.333088,-11.184858,-7.283125
47,40,3,5,37,North Carolina,10439459,10453812,10567100,10695965,10835491,...,1.175675,0.943822,2.462862,2.735347,9.695964,9.267149,9.034596,10.639786,11.730012,11.769943
48,40,2,4,38,North Dakota,779079,779563,777982,778912,783926,...,3.460371,0.581685,1.618607,2.940804,-5.146561,-3.503129,-0.011518,-4.564876,-1.884521,2.929286
49,40,2,3,39,Ohio,11799331,11798292,11765227,11759697,11785935,...,-0.209126,0.787658,2.018030,2.385241,-2.344641,-0.413349,0.054108,-1.556983,1.604681,2.439348
50,40,3,7,40,Oklahoma,3959411,3965234,3991634,4019271,4053824,...,0.635940,0.549965,1.413823,2.076032,6.622706,6.567048,5.843360,7.172671,7.980871,7.919392
51,40,4,9,41,Oregon,4237279,4245044,4256465,4239379,4233358,...,-1.000621,0.613773,1.702950,1.015964,2.412042,-4.137317,-1.428346,3.025816,-2.434367,-0.412382
52,40,1,2,42,Pennsylvania,13002788,12995477,13013614,12972091,12961683,...,-0.854407,0.784264,1.979627,1.987833,2.137945,-3.057912,-1.914492,2.922209,-1.078285,0.073341
53,40,1,1,44,Rhode Island,1097371,1096444,1097092,1093842,1095962,...,-0.390903,0.977417,2.430927,5.276271,0.332796,-4.431900,-2.944556,1.310213,-2.000973,2.331716
54,40,3,5,45,South Carolina,5118422,5132151,5193848,5282955,5373555,...,-0.238540,0.780167,1.998129,1.743723,13.048229,15.921078,15.495129,13.828396,17.919207,17.238852
55,40,2,4,46,South Dakota,886668,887852,896299,909869,919318,...,3.075683,1.233079,3.079448,1.954967,6.755034,9.272670,5.261354,7.988113,12.352118,7.216321
56,40,3,6,47,Tennessee,6910786,6926091,6963709,7048976,7126489,...,0.145039,0.448387,1.140823,1.841774,6.514277,11.963161,8.947431,6.962663,13.103984,10.789205
57,40,3,7,48,Texas,29145459,29234361,29561286,30029848,30503301,...,5.228639,1.478851,3.933370,4.246731,6.518952,7.547968,6.170735,7.997803,11.481339,10.417466
58,40,4,8,49,Utah,3271614,3283982,3339284,3381236,3417734,...,7.294046,0.620238,1.625469,3.025458,8.957514,4.107718,0.393589,9.577752,5.733187,3.419047
59,40,1,1,50,Vermont,643077,642936,647093,647110,647464,...,-2.787017,0.643396,1.559261,2.026922,7.506808,1.740067,1.303904,8.150204,3.299328,3.330825
60,40,3,5,51,Virginia,8631373,8637193,8657348,8679099,8715698,...,1.803873,1.653238,4.319686,3.232806,-0.632338,-2.876022,-0.803114,1.020900,1.443664,2.429692
61,40,4,9,53,Washington,7705267,7724566,7741433,7784477,7812880,...,1.905451,1.809906,4.807705,3.708192,-1.993793,-0.604409,-1.958793,-0.183887,4.203296,1.749399
62,40,3,5,54,West Virginia,1793713,1791562,1785249,1774035,1770071,...,-4.890373,0.406507,1.006944,0.621313,1.609255,0.232631,2.028720,2.015762,1.239575,2.650034
63,40,2,3,55,Wisconsin,5893713,5896700,5879978,5890543,5910955,...,0.194382,0.541579,1.343356,2.313774,-3.275966,1.256019,0.957167,-2.734387,2.599375,3.270941
64,40,4,8,56,Wyoming,576850,577664,579548,581629,584057,...,0.176720,0.231591,0.626950,0.552464,3.048707,4.262916,3.458907,3.280298,4.889866,4.011372
65,40,X,X,72,Puerto Rico,3285874,3281557,3262693,3220113,3205691,...,-5.071428,-1.319326,-8.656545,0.582651,0.000000,0.000000,0.000000,-1.319326,-8.656545,0.582651

In [33]:
df_added = (df_2[['STATE','NAME', 'POPESTIMATE2020', 'POPESTIMATE2021', 'POPESTIMATE2022', 'POPESTIMATE2023']].loc[(df_2.STATE > 0) ])
df_added

,STATE,NAME,POPESTIMATE2020,POPESTIMATE2021,POPESTIMATE2022,POPESTIMATE2023
14,1,Alabama,5031864,5050380,5073903,5108468
15,2,Alaska,732964,734923,733276,733406
16,4,Arizona,7186683,7272487,7365684,7431344
17,5,Arkansas,3014348,3028443,3046404,3067732
18,6,California,39503200,39145060,39040616,38965193
19,8,Colorado,5785219,5811596,5841039,5877610
20,9,Connecticut,3577586,3603691,3608706,3617176
21,10,Delaware,991862,1004881,1019459,1031890
22,11,District of Columbia,670839,669037,670949,678972
23,12,Florida,21591299,21830708,22245521,22610726
24,13,Georgia,10732390,10790385,10913150,11029227
25,15,Hawaii,1451181,1446745,1439399,1435138
26,16,Idaho,1849339,1904537,1938996,1964726
27,17,Illinois,12790357,12690341,12582515,12549689
28,18,Indiana,6789098,6813798,6832274,6862199
29,19,Iowa,3190904,3197944,3199693,3207004
30,20,Kansas,2938124,2937946,2936716,2940546
31,21,Kentucky,4508155,4507600,4511563,4526154
32,22,Louisiana,4652022,4627047,4588023,4573749
33,23,Maine,1364517,1378787,1389338,1395722
34,24,Maryland,6173689,6175045,6163981,6180253
35,25,Massachusetts,6997713,6991951,6982740,7001399
36,26,Michigan,10070627,10038117,10033281,10037261
37,27,Minnesota,5710578,5717968,5714300,5737915
38,28,Mississippi,2958409,2949582,2938928,2939690
39,29,Missouri,6154426,6170393,6177168,6196156
40,30,Montana,1087211,1106366,1122878,1132812
41,31,Nebraska,1963273,1964253,1968060,1978379
42,32,Nevada,3115840,3146632,3177421,3194176
43,33,New Hampshire,1378702,1387494,1399003,1402054
44,34,New Jersey,9272392,9269175,9260817,9290841
45,35,New Mexico,2118488,2116950,2113476,2114371
46,36,New York,20104710,19854526,19673200,19571216
47,37,North Carolina,10453812,10567100,10695965,10835491
48,38,North Dakota,779563,777982,778912,783926
49,39,Ohio,11798292,11765227,11759697,11785935
50,40,Oklahoma,3965234,3991634,4019271,4053824
51,41,Oregon,4245044,4256465,4239379,4233358
52,42,Pennsylvania,12995477,13013614,12972091,12961683
53,44,Rhode Island,1096444,1097092,1093842,1095962
54,45,South Carolina,5132151,5193848,5282955,5373555
55,46,South Dakota,887852,896299,909869,919318
56,47,Tennessee,6926091,6963709,7048976,7126489
57,48,Texas,29234361,29561286,30029848,30503301
58,49,Utah,3283982,3339284,3381236,3417734
59,50,Vermont,642936,647093,647110,647464
60,51,Virginia,8637193,8657348,8679099,8715698
61,53,Washington,7724566,7741433,7784477,7812880
62,54,West Virginia,1791562,1785249,1774035,1770071
63,55,Wisconsin,5896700,5879978,5890543,5910955
64,56,Wyoming,577664,579548,581629,584057
65,72,Puerto Rico,3281557,3262693,3220113,3205691

In [34]:
# Rename 4 columns to be year column.
df_added.rename(columns = {'STATE':'id','NAME':'state_name','POPESTIMATE2020':'2020', 'POPESTIMATE2021':'2021', 'POPESTIMATE2022':'2022', 'POPESTIMATE2023':'2023'}, inplace = True)
df_added

    id            state_name      2020      2021      2022      2023
14   1               Alabama   5031864   5050380   5073903   5108468
15   2                Alaska    732964    734923    733276    733406
16   4               Arizona   7186683   7272487   7365684   7431344
17   5              Arkansas   3014348   3028443   3046404   3067732
18   6            California  39503200  39145060  39040616  38965193
19   8              Colorado   5785219   5811596   5841039   5877610
20   9           Connecticut   3577586   3603691   3608706   3617176
21  10              Delaware    991862   1004881   1019459   1031890
22  11  District of Columbia    670839    669037    670949    678972
23  12               Florida  21591299  21830708  22245521  22610726
24  13               Georgia  10732390  10790385  10913150  11029227
25  15                Hawaii   1451181   1446745   1439399   1435138
26  16                 Idaho   1849339   1904537   1938996   1964726
27  17              Illinois  12790357  12690341  12582515  12549689
28  18               Indiana   6789098   6813798   6832274   6862199
29  19                  Iowa   3190904   3197944   3199693   3207004
30  20                Kansas   2938124   2937946   2936716   2940546
31  21              Kentucky   4508155   4507600   4511563   4526154
32  22             Louisiana   4652022   4627047   4588023   4573749
33  23                 Maine   1364517   1378787   1389338   1395722
34  24              Maryland   6173689   6175045   6163981   6180253
35  25         Massachusetts   6997713   6991951   6982740   7001399
36  26              Michigan  10070627  10038117  10033281  10037261
37  27             Minnesota   5710578   5717968   5714300   5737915
38  28           Mississippi   2958409   2949582   2938928   2939690
39  29              Missouri   6154426   6170393   6177168   6196156
40  30               Montana   1087211   1106366   1122878   1132812
41  31              Nebraska   1963273   1964253   1968060   1978379
42  32                Nevada   3115840   3146632   3177421   3194176
43  33         New Hampshire   1378702   1387494   1399003   1402054
44  34            New Jersey   9272392   9269175   9260817   9290841
45  35            New Mexico   2118488   2116950   2113476   2114371
46  36              New York  20104710  19854526  19673200  19571216
47  37        North Carolina  10453812  10567100  10695965  10835491
48  38          North Dakota    779563    777982    778912    783926
49  39                  Ohio  11798292  11765227  11759697  11785935
50  40              Oklahoma   3965234   3991634   4019271   4053824
51  41                Oregon   4245044   4256465   4239379   4233358
52  42          Pennsylvania  12995477  13013614  12972091  12961683
53  44          Rhode Island   1096444   1097092   1093842   1095962
54  45        South Carolina   5132151   5193848   5282955   5373555
55  46          South Dakota    887852    896299    909869    919318
56  47             Tennessee   6926091   6963709   7048976   7126489
57  48                 Texas  29234361  29561286  30029848  30503301
58  49                  Utah   3283982   3339284   3381236   3417734
59  50               Vermont    642936    647093    647110    647464
60  51              Virginia   8637193   8657348   8679099   8715698
61  53            Washington   7724566   7741433   7784477   7812880
62  54         West Virginia   1791562   1785249   1774035   1770071
63  55             Wisconsin   5896700   5879978   5890543   5910955
64  56               Wyoming    577664    579548    581629    584057
65  72           Puerto Rico   3281557   3262693   3220113   3205691

In [35]:
df_added.info()

<class 'pandas.core.frame.DataFrame'>
Index: 52 entries, 14 to 65
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          52 non-null     int64
 1   state_name  52 non-null     object
 2   2020        52 non-null     int64
 3   2021        52 non-null     int64
 4   2022        52 non-null     int64
 5   2023        52 non-null     int64
dtypes: int64(5), object(1)
memory usage: 2.8+ KB

In [36]:
# using Merge of two dataframes
df = pd.merge(df_1, df_added, on='id')
df

,states,id,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,states_code,state_name,2020,2021,2022,2023
0,Alabama,1,"4,785,437","4,799,069","4,815,588","4,830,081","4,841,799","4,852,347","4,863,525","4,874,486","4,887,681","4,903,185",AL,Alabama,5031864,5050380,5073903,5108468
1,Alaska,2,"713,910","722,128","730,443","737,068","736,283","737,498","741,456","739,700","735,139","731,545",AK,Alaska,732964,734923,733276,733406
2,Arizona,4,"6,407,172","6,472,643","6,554,978","6,632,764","6,730,413","6,829,676","6,941,072","7,044,008","7,158,024","7,278,717",AZ,Arizona,7186683,7272487,7365684,7431344
3,Arkansas,5,"2,921,964","2,940,667","2,952,164","2,959,400","2,967,392","2,978,048","2,989,918","3,001,345","3,009,733","3,017,804",AR,Arkansas,3014348,3028443,3046404,3067732
4,California,6,"37,319,502","37,638,369","37,948,800","38,260,787","38,596,972","38,918,045","39,167,117","39,358,497","39,461,588","39,512,223",CA,California,39503200,39145060,39040616,38965193
5,Colorado,8,"5,047,349","5,121,108","5,192,647","5,269,035","5,350,101","5,450,623","5,539,215","5,611,885","5,691,287","5,758,736",CO,Colorado,5785219,5811596,5841039,5877610
6,Connecticut,9,"3,579,114","3,588,283","3,594,547","3,594,841","3,594,524","3,587,122","3,578,141","3,573,297","3,571,520","3,565,287",CT,Connecticut,3577586,3603691,3608706,3617176
7,Delaware,10,"899,593","907,381","915,179","923,576","932,487","941,252","948,921","956,823","965,479","973,764",DE,Delaware,991862,1004881,1019459,1031890
8,District of Columbia,11,"605,226","619,800","634,924","650,581","662,328","675,400","685,815","694,906","701,547","705,749",DC,District of Columbia,670839,669037,670949,678972
9,Florida,12,"18,845,537","19,053,237","19,297,822","19,545,621","19,845,911","20,209,042","20,613,477","20,963,613","21,244,317","21,477,737",FL,Florida,21591299,21830708,22245521,22610726
10,Georgia,13,"9,711,881","9,802,431","9,901,430","9,972,479","10,067,278","10,178,447","10,301,890","10,410,330","10,511,131","10,617,423",GA,Georgia,10732390,10790385,10913150,11029227
11,Hawaii,15,"1,363,963","1,379,329","1,394,804","1,408,243","1,414,538","1,422,052","1,427,559","1,424,393","1,420,593","1,415,872",HI,Hawaii,1451181,1446745,1439399,1435138
12,Idaho,16,"1,570,746","1,583,910","1,595,324","1,611,206","1,631,112","1,651,059","1,682,380","1,717,715","1,750,536","1,787,065",ID,Idaho,1849339,1904537,1938996,1964726
13,Illinois,17,"12,840,503","12,867,454","12,882,510","12,895,129","12,884,493","12,858,913","12,820,527","12,778,828","12,723,071","12,671,821",IL,Illinois,12790357,12690341,12582515,12549689
14,Indiana,18,"6,490,432","6,516,528","6,537,703","6,568,713","6,593,644","6,608,422","6,634,304","6,658,078","6,695,497","6,732,219",IN,Indiana,6789098,6813798,6832274,6862199
15,Iowa,19,"3,050,745","3,066,336","3,076,190","3,092,997","3,109,350","3,120,960","3,131,371","3,141,550","3,148,618","3,155,070",IA,Iowa,3190904,3197944,3199693,3207004
16,Kansas,20,"2,858,190","2,869,225","2,885,257","2,893,212","2,900,475","2,909,011","2,910,844","2,908,718","2,911,359","2,913,314",KS,Kansas,2938124,2937946,2936716,2940546
17,Kentucky,21,"4,348,181","4,369,821","4,386,346","4,404,659","4,414,349","4,425,976","4,438,182","4,452,268","4,461,153","4,467,673",KY,Kentucky,4508155,4507600,4511563,4526154
18,Louisiana,22,"4,544,532","4,575,625","4,600,972","4,624,527","4,644,013","4,664,628","4,678,135","4,670,560","4,659,690","4,648,794",LA,Louisiana,4652022,4627047,4588023,4573749
19,Maine,23,"1,327,629","1,328,284","1,327,729","1,328,009","1,330,513","1,328,262","1,331,317","1,334,612","1,339,057","1,344,212",ME,Maine,1364517,1378787,1389338,1395722
20,Maryland,24,"5,788,645","5,839,419","5,886,992","5,923,188","5,957,283","5,985,562","6,003,323","6,023,868","6,035,802","6,045,680",MD,Maryland,6173689,6175045,6163981,6180253
21,Massachusetts,25,"6,566,307","6,613,583","6,663,005","6,713,315","6,762,596","6,794,228","6,823,608","6,859,789","6,882,635","6,892,503",MA,Massachusetts,6997713,6991951,6982740,7001399
22,Michigan,26,"9,877,510","9,882,412","9,897,145","9,913,065","9,929,848","9,931,715","9,950,571","9,973,114","9,984,072","9,986,857",MI,Michigan,10070627,10038117,10033281,10037261
23,Minnesota,27,"5,310,828","5,346,143","5,376,643","5,413,479","5,451,079","5,482,032","5,522,744","5,566,230","5,606,249","5,639,632",MN,Minnesota,5710578,5717968,5714300,5737915
24,Mississippi,28,"2,970,548","2,978,731","2,983,816","2,988,711","2,990,468","2,988,471","2,987,938","2,988,510","2,981,020","2,976,149",MS,Mississippi,2958409,2949582,2938928,2939690
25,Missouri,29,"5,995,974","6,010,275","6,024,367","6,040,715","6,056,202","6,071,732","6,087,135","6,106,670","6,121,623","6,137,428",MO,Missouri,6154426,6170393,6177168,6196156
26,Montana,30,"990,697","997,316","1,003,783","1,013,569","1,021,869","1,030,475","1,040,859","1,052,482","1,060,665","1,068,778",MT,Montana,1087211,1106366,1122878,1132812
27,Nebraska,31,"1,829,542","1,840,672","1,853,303","1,865,279","1,879,321","1,891,277","1,905,616","1,915,947","1,925,614","1,934,408",NE,Nebraska,1963273,1964253,1968060,1978379
28,Nevada,32,"2,702,405","2,712,730","2,743,996","2,775,970","2,817,628","2,866,939","2,917,563","2,969,905","3,027,341","3,080,156",NV,Nevada,3115840,3146632,3177421,3194176
29,New Hampshire,33,"1,316,762","1,320,202","1,324,232","1,326,622","1,333,341","1,336,350","1,342,307","1,348,787","1,353,465","1,359,711",NH,New Hampshire,1378702,1387494,1399003,1402054
30,New Jersey,34,"8,799,446","8,828,117","8,844,942","8,856,972","8,864,525","8,867,949","8,870,827","8,885,525","8,886,025","8,882,190",NJ,New Jersey,9272392,9269175,9260817,9290841
31,New Mexico,35,"2,064,552","2,080,450","2,087,309","2,092,273","2,089,568","2,089,291","2,091,630","2,091,784","2,092,741","2,096,829",NM,New Mexico,2118488,2116950,2113476,2114371
32,New York,36,"19,399,878","19,499,241","19,572,932","19,624,447","19,651,049","19,654,666","19,633,428","19,589,572","19,530,351","19,453,561",NY,New York,20104710,19854526,19673200,19571216
33,North Carolina,37,"9,574,323","9,657,592","9,749,476","9,843,336","9,932,887","10,031,646","10,154,788","10,268,233","10,381,615","10,488,084",NC,North Carolina,10453812,10567100,10695965,10835491
34,North Dakota,38,"674,715","685,225","701,176","722,036","737,401","754,066","754,434","754,942","758,080","762,062",ND,North Dakota,779563,777982,778912,783926
35,Ohio,39,"11,539,336","11,544,663","11,548,923","11,576,684","11,602,700","11,617,527","11,634,370","11,659,650","11,676,341","11,689,100",OH,Ohio,11798292,11765227,11759697,11785935
36,Oklahoma,40,"3,759,944","3,788,379","3,818,814","3,853,214","3,878,187","3,909,500","3,926,331","3,931,316","3,940,235","3,956,971",OK,Oklahoma,3965234,3991634,4019271,4053824
37,Oregon,41,"3,837,491","3,872,036","3,899,001","3,922,468","3,963,244","4,015,792","4,089,976","4,143,625","4,181,886","4,217,737",OR,Oregon,4245044,4256465,4239379,4233358
38,Pennsylvania,42,"12,711,160","12,745,815","12,767,118","12,776,309","12,788,313","12,784,826","12,782,275","12,787,641","12,800,922","12,801,989",PA,Pennsylvania,12995477,13013614,12972091,12961683
39,Rhode Island,44,"1,053,959","1,053,649","1,054,621","1,055,081","1,055,936","1,056,065","1,056,770","1,055,673","1,058,287","1,059,361",RI,Rhode Island,1096444,1097092,1093842,1095962
40,South Carolina,45,"4,635,649","4,671,994","4,717,354","4,764,080","4,823,617","4,891,938","4,957,968","5,021,268","5,084,156","5,148,714",SC,South Carolina,5132151,5193848,5282955,5373555
41,South Dakota,46,"816,166","823,579","833,566","842,316","849,129","853,988","862,996","872,868","878,698","884,659",SD,South Dakota,887852,896299,909869,919318
42,Tennessee,47,"6,355,311","6,399,291","6,453,898","6,494,340","6,541,223","6,591,170","6,646,010","6,708,799","6,771,631","6,829,174",TN,Tennessee,6926091,6963709,7048976,7126489
43,Texas,48,"25,241,971","25,645,629","26,084,481","26,480,266","26,964,333","27,470,056","27,914,410","28,295,273","28,628,666","28,995,881",TX,Texas,29234361,29561286,30029848,30503301
44,Utah,49,"2,775,332","2,814,384","2,853,375","2,897,640","2,936,879","2,981,835","3,041,868","3,101,042","3,153,550","3,205,958",UT,Utah,3283982,3339284,3381236,3417734
45,Vermont,50,"625,879","627,049","626,090","626,210","625,214","625,216","623,657","624,344","624,358","623,989",VT,Vermont,642936,647093,647110,647464
46,Virginia,51,"8,023,699","8,101,155","8,185,080","8,252,427","8,310,993","8,361,808","8,410,106","8,463,587","8,501,286","8,535,519",VA,Virginia,8637193,8657348,8679099,8715698
47,Washington,53,"6,742,830","6,826,627","6,897,058","6,963,985","7,054,655","7,163,657","7,294,771","7,423,362","7,523,869","7,614,893",WA,Washington,7724566,7741433,7784477,7812880
48,West Virginia,54,"1,854,239","1,856,301","1,856,872","1,853,914","1,849,489","1,842,050","1,831,023","1,817,004","1,804,291","1,792,147",WV,West Virginia,1791562,1785249,1774035,1770071
49,Wisconsin,55,"5,690,475","5,705,288","5,719,960","5,736,754","5,751,525","5,760,940","5,772,628","5,790,186","5,807,406","5,822,434",WI,Wisconsin,5896700,5879978,5890543,5910955
50,Wyoming,56,"564,487","567,299","576,305","582,122","582,531","585,613","584,215","578,931","577,601","578,759",WY,Wyoming,577664,579548,581629,584057
51,Puerto Rico,72,"3,721,525","3,678,732","3,634,488","3,593,077","3,534,874","3,473,232","3,406,672","3,325,286","3,193,354","3,193,694",PR,Puerto Rico,3281557,3262693,3220113,3205691

In [37]:
# Drop one uneccesary column:
df.drop(['state_name'], axis=1)

,states,id,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,states_code,2020,2021,2022,2023
0,Alabama,1,"4,785,437","4,799,069","4,815,588","4,830,081","4,841,799","4,852,347","4,863,525","4,874,486","4,887,681","4,903,185",AL,5031864,5050380,5073903,5108468
1,Alaska,2,"713,910","722,128","730,443","737,068","736,283","737,498","741,456","739,700","735,139","731,545",AK,732964,734923,733276,733406
2,Arizona,4,"6,407,172","6,472,643","6,554,978","6,632,764","6,730,413","6,829,676","6,941,072","7,044,008","7,158,024","7,278,717",AZ,7186683,7272487,7365684,7431344
3,Arkansas,5,"2,921,964","2,940,667","2,952,164","2,959,400","2,967,392","2,978,048","2,989,918","3,001,345","3,009,733","3,017,804",AR,3014348,3028443,3046404,3067732
4,California,6,"37,319,502","37,638,369","37,948,800","38,260,787","38,596,972","38,918,045","39,167,117","39,358,497","39,461,588","39,512,223",CA,39503200,39145060,39040616,38965193
5,Colorado,8,"5,047,349","5,121,108","5,192,647","5,269,035","5,350,101","5,450,623","5,539,215","5,611,885","5,691,287","5,758,736",CO,5785219,5811596,5841039,5877610
6,Connecticut,9,"3,579,114","3,588,283","3,594,547","3,594,841","3,594,524","3,587,122","3,578,141","3,573,297","3,571,520","3,565,287",CT,3577586,3603691,3608706,3617176
7,Delaware,10,"899,593","907,381","915,179","923,576","932,487","941,252","948,921","956,823","965,479","973,764",DE,991862,1004881,1019459,1031890
8,District of Columbia,11,"605,226","619,800","634,924","650,581","662,328","675,400","685,815","694,906","701,547","705,749",DC,670839,669037,670949,678972
9,Florida,12,"18,845,537","19,053,237","19,297,822","19,545,621","19,845,911","20,209,042","20,613,477","20,963,613","21,244,317","21,477,737",FL,21591299,21830708,22245521,22610726
10,Georgia,13,"9,711,881","9,802,431","9,901,430","9,972,479","10,067,278","10,178,447","10,301,890","10,410,330","10,511,131","10,617,423",GA,10732390,10790385,10913150,11029227
11,Hawaii,15,"1,363,963","1,379,329","1,394,804","1,408,243","1,414,538","1,422,052","1,427,559","1,424,393","1,420,593","1,415,872",HI,1451181,1446745,1439399,1435138
12,Idaho,16,"1,570,746","1,583,910","1,595,324","1,611,206","1,631,112","1,651,059","1,682,380","1,717,715","1,750,536","1,787,065",ID,1849339,1904537,1938996,1964726
13,Illinois,17,"12,840,503","12,867,454","12,882,510","12,895,129","12,884,493","12,858,913","12,820,527","12,778,828","12,723,071","12,671,821",IL,12790357,12690341,12582515,12549689
14,Indiana,18,"6,490,432","6,516,528","6,537,703","6,568,713","6,593,644","6,608,422","6,634,304","6,658,078","6,695,497","6,732,219",IN,6789098,6813798,6832274,6862199
15,Iowa,19,"3,050,745","3,066,336","3,076,190","3,092,997","3,109,350","3,120,960","3,131,371","3,141,550","3,148,618","3,155,070",IA,3190904,3197944,3199693,3207004
16,Kansas,20,"2,858,190","2,869,225","2,885,257","2,893,212","2,900,475","2,909,011","2,910,844","2,908,718","2,911,359","2,913,314",KS,2938124,2937946,2936716,2940546
17,Kentucky,21,"4,348,181","4,369,821","4,386,346","4,404,659","4,414,349","4,425,976","4,438,182","4,452,268","4,461,153","4,467,673",KY,4508155,4507600,4511563,4526154
18,Louisiana,22,"4,544,532","4,575,625","4,600,972","4,624,527","4,644,013","4,664,628","4,678,135","4,670,560","4,659,690","4,648,794",LA,4652022,4627047,4588023,4573749
19,Maine,23,"1,327,629","1,328,284","1,327,729","1,328,009","1,330,513","1,328,262","1,331,317","1,334,612","1,339,057","1,344,212",ME,1364517,1378787,1389338,1395722
20,Maryland,24,"5,788,645","5,839,419","5,886,992","5,923,188","5,957,283","5,985,562","6,003,323","6,023,868","6,035,802","6,045,680",MD,6173689,6175045,6163981,6180253
21,Massachusetts,25,"6,566,307","6,613,583","6,663,005","6,713,315","6,762,596","6,794,228","6,823,608","6,859,789","6,882,635","6,892,503",MA,6997713,6991951,6982740,7001399
22,Michigan,26,"9,877,510","9,882,412","9,897,145","9,913,065","9,929,848","9,931,715","9,950,571","9,973,114","9,984,072","9,986,857",MI,10070627,10038117,10033281,10037261
23,Minnesota,27,"5,310,828","5,346,143","5,376,643","5,413,479","5,451,079","5,482,032","5,522,744","5,566,230","5,606,249","5,639,632",MN,5710578,5717968,5714300,5737915
24,Mississippi,28,"2,970,548","2,978,731","2,983,816","2,988,711","2,990,468","2,988,471","2,987,938","2,988,510","2,981,020","2,976,149",MS,2958409,2949582,2938928,2939690
25,Missouri,29,"5,995,974","6,010,275","6,024,367","6,040,715","6,056,202","6,071,732","6,087,135","6,106,670","6,121,623","6,137,428",MO,6154426,6170393,6177168,6196156
26,Montana,30,"990,697","997,316","1,003,783","1,013,569","1,021,869","1,030,475","1,040,859","1,052,482","1,060,665","1,068,778",MT,1087211,1106366,1122878,1132812
27,Nebraska,31,"1,829,542","1,840,672","1,853,303","1,865,279","1,879,321","1,891,277","1,905,616","1,915,947","1,925,614","1,934,408",NE,1963273,1964253,1968060,1978379
28,Nevada,32,"2,702,405","2,712,730","2,743,996","2,775,970","2,817,628","2,866,939","2,917,563","2,969,905","3,027,341","3,080,156",NV,3115840,3146632,3177421,3194176
29,New Hampshire,33,"1,316,762","1,320,202","1,324,232","1,326,622","1,333,341","1,336,350","1,342,307","1,348,787","1,353,465","1,359,711",NH,1378702,1387494,1399003,1402054
30,New Jersey,34,"8,799,446","8,828,117","8,844,942","8,856,972","8,864,525","8,867,949","8,870,827","8,885,525","8,886,025","8,882,190",NJ,9272392,9269175,9260817,9290841
31,New Mexico,35,"2,064,552","2,080,450","2,087,309","2,092,273","2,089,568","2,089,291","2,091,630","2,091,784","2,092,741","2,096,829",NM,2118488,2116950,2113476,2114371
32,New York,36,"19,399,878","19,499,241","19,572,932","19,624,447","19,651,049","19,654,666","19,633,428","19,589,572","19,530,351","19,453,561",NY,20104710,19854526,19673200,19571216
33,North Carolina,37,"9,574,323","9,657,592","9,749,476","9,843,336","9,932,887","10,031,646","10,154,788","10,268,233","10,381,615","10,488,084",NC,10453812,10567100,10695965,10835491
34,North Dakota,38,"674,715","685,225","701,176","722,036","737,401","754,066","754,434","754,942","758,080","762,062",ND,779563,777982,778912,783926
35,Ohio,39,"11,539,336","11,544,663","11,548,923","11,576,684","11,602,700","11,617,527","11,634,370","11,659,650","11,676,341","11,689,100",OH,11798292,11765227,11759697,11785935
36,Oklahoma,40,"3,759,944","3,788,379","3,818,814","3,853,214","3,878,187","3,909,500","3,926,331","3,931,316","3,940,235","3,956,971",OK,3965234,3991634,4019271,4053824
37,Oregon,41,"3,837,491","3,872,036","3,899,001","3,922,468","3,963,244","4,015,792","4,089,976","4,143,625","4,181,886","4,217,737",OR,4245044,4256465,4239379,4233358
38,Pennsylvania,42,"12,711,160","12,745,815","12,767,118","12,776,309","12,788,313","12,784,826","12,782,275","12,787,641","12,800,922","12,801,989",PA,12995477,13013614,12972091,12961683
39,Rhode Island,44,"1,053,959","1,053,649","1,054,621","1,055,081","1,055,936","1,056,065","1,056,770","1,055,673","1,058,287","1,059,361",RI,1096444,1097092,1093842,1095962
40,South Carolina,45,"4,635,649","4,671,994","4,717,354","4,764,080","4,823,617","4,891,938","4,957,968","5,021,268","5,084,156","5,148,714",SC,5132151,5193848,5282955,5373555
41,South Dakota,46,"816,166","823,579","833,566","842,316","849,129","853,988","862,996","872,868","878,698","884,659",SD,887852,896299,909869,919318
42,Tennessee,47,"6,355,311","6,399,291","6,453,898","6,494,340","6,541,223","6,591,170","6,646,010","6,708,799","6,771,631","6,829,174",TN,6926091,6963709,7048976,7126489
43,Texas,48,"25,241,971","25,645,629","26,084,481","26,480,266","26,964,333","27,470,056","27,914,410","28,295,273","28,628,666","28,995,881",TX,29234361,29561286,30029848,30503301
44,Utah,49,"2,775,332","2,814,384","2,853,375","2,897,640","2,936,879","2,981,835","3,041,868","3,101,042","3,153,550","3,205,958",UT,3283982,3339284,3381236,3417734
45,Vermont,50,"625,879","627,049","626,090","626,210","625,214","625,216","623,657","624,344","624,358","623,989",VT,642936,647093,647110,647464
46,Virginia,51,"8,023,699","8,101,155","8,185,080","8,252,427","8,310,993","8,361,808","8,410,106","8,463,587","8,501,286","8,535,519",VA,8637193,8657348,8679099,8715698
47,Washington,53,"6,742,830","6,826,627","6,897,058","6,963,985","7,054,655","7,163,657","7,294,771","7,423,362","7,523,869","7,614,893",WA,7724566,7741433,7784477,7812880
48,West Virginia,54,"1,854,239","1,856,301","1,856,872","1,853,914","1,849,489","1,842,050","1,831,023","1,817,004","1,804,291","1,792,147",WV,1791562,1785249,1774035,1770071
49,Wisconsin,55,"5,690,475","5,705,288","5,719,960","5,736,754","5,751,525","5,760,940","5,772,628","5,790,186","5,807,406","5,822,434",WI,5896700,5879978,5890543,5910955
50,Wyoming,56,"564,487","567,299","576,305","582,122","582,531","585,613","584,215","578,931","577,601","578,759",WY,577664,579548,581629,584057
51,Puerto Rico,72,"3,721,525","3,678,732","3,634,488","3,593,077","3,534,874","3,473,232","3,406,672","3,325,286","3,193,354","3,193,694",PR,3281557,3262693,3220113,3205691

In [38]:
df.columns

Index(['states', 'id', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018', '2019', 'states_code', 'state_name', '2020', '2021',
       '2022', '2023'],
      dtype='object')

In [39]:

new_columns = ['states', 'states_code', 'id', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018', '2019','2020','2021','2022','2023']
df = df.reindex(columns=new_columns)
df

,states,states_code,id,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Alabama,AL,1,"4,785,437","4,799,069","4,815,588","4,830,081","4,841,799","4,852,347","4,863,525","4,874,486","4,887,681","4,903,185",5031864,5050380,5073903,5108468
1,Alaska,AK,2,"713,910","722,128","730,443","737,068","736,283","737,498","741,456","739,700","735,139","731,545",732964,734923,733276,733406
2,Arizona,AZ,4,"6,407,172","6,472,643","6,554,978","6,632,764","6,730,413","6,829,676","6,941,072","7,044,008","7,158,024","7,278,717",7186683,7272487,7365684,7431344
3,Arkansas,AR,5,"2,921,964","2,940,667","2,952,164","2,959,400","2,967,392","2,978,048","2,989,918","3,001,345","3,009,733","3,017,804",3014348,3028443,3046404,3067732
4,California,CA,6,"37,319,502","37,638,369","37,948,800","38,260,787","38,596,972","38,918,045","39,167,117","39,358,497","39,461,588","39,512,223",39503200,39145060,39040616,38965193
5,Colorado,CO,8,"5,047,349","5,121,108","5,192,647","5,269,035","5,350,101","5,450,623","5,539,215","5,611,885","5,691,287","5,758,736",5785219,5811596,5841039,5877610
6,Connecticut,CT,9,"3,579,114","3,588,283","3,594,547","3,594,841","3,594,524","3,587,122","3,578,141","3,573,297","3,571,520","3,565,287",3577586,3603691,3608706,3617176
7,Delaware,DE,10,"899,593","907,381","915,179","923,576","932,487","941,252","948,921","956,823","965,479","973,764",991862,1004881,1019459,1031890
8,District of Columbia,DC,11,"605,226","619,800","634,924","650,581","662,328","675,400","685,815","694,906","701,547","705,749",670839,669037,670949,678972
9,Florida,FL,12,"18,845,537","19,053,237","19,297,822","19,545,621","19,845,911","20,209,042","20,613,477","20,963,613","21,244,317","21,477,737",21591299,21830708,22245521,22610726
10,Georgia,GA,13,"9,711,881","9,802,431","9,901,430","9,972,479","10,067,278","10,178,447","10,301,890","10,410,330","10,511,131","10,617,423",10732390,10790385,10913150,11029227
11,Hawaii,HI,15,"1,363,963","1,379,329","1,394,804","1,408,243","1,414,538","1,422,052","1,427,559","1,424,393","1,420,593","1,415,872",1451181,1446745,1439399,1435138
12,Idaho,ID,16,"1,570,746","1,583,910","1,595,324","1,611,206","1,631,112","1,651,059","1,682,380","1,717,715","1,750,536","1,787,065",1849339,1904537,1938996,1964726
13,Illinois,IL,17,"12,840,503","12,867,454","12,882,510","12,895,129","12,884,493","12,858,913","12,820,527","12,778,828","12,723,071","12,671,821",12790357,12690341,12582515,12549689
14,Indiana,IN,18,"6,490,432","6,516,528","6,537,703","6,568,713","6,593,644","6,608,422","6,634,304","6,658,078","6,695,497","6,732,219",6789098,6813798,6832274,6862199
15,Iowa,IA,19,"3,050,745","3,066,336","3,076,190","3,092,997","3,109,350","3,120,960","3,131,371","3,141,550","3,148,618","3,155,070",3190904,3197944,3199693,3207004
16,Kansas,KS,20,"2,858,190","2,869,225","2,885,257","2,893,212","2,900,475","2,909,011","2,910,844","2,908,718","2,911,359","2,913,314",2938124,2937946,2936716,2940546
17,Kentucky,KY,21,"4,348,181","4,369,821","4,386,346","4,404,659","4,414,349","4,425,976","4,438,182","4,452,268","4,461,153","4,467,673",4508155,4507600,4511563,4526154
18,Louisiana,LA,22,"4,544,532","4,575,625","4,600,972","4,624,527","4,644,013","4,664,628","4,678,135","4,670,560","4,659,690","4,648,794",4652022,4627047,4588023,4573749
19,Maine,ME,23,"1,327,629","1,328,284","1,327,729","1,328,009","1,330,513","1,328,262","1,331,317","1,334,612","1,339,057","1,344,212",1364517,1378787,1389338,1395722
20,Maryland,MD,24,"5,788,645","5,839,419","5,886,992","5,923,188","5,957,283","5,985,562","6,003,323","6,023,868","6,035,802","6,045,680",6173689,6175045,6163981,6180253
21,Massachusetts,MA,25,"6,566,307","6,613,583","6,663,005","6,713,315","6,762,596","6,794,228","6,823,608","6,859,789","6,882,635","6,892,503",6997713,6991951,6982740,7001399
22,Michigan,MI,26,"9,877,510","9,882,412","9,897,145","9,913,065","9,929,848","9,931,715","9,950,571","9,973,114","9,984,072","9,986,857",10070627,10038117,10033281,10037261
23,Minnesota,MN,27,"5,310,828","5,346,143","5,376,643","5,413,479","5,451,079","5,482,032","5,522,744","5,566,230","5,606,249","5,639,632",5710578,5717968,5714300,5737915
24,Mississippi,MS,28,"2,970,548","2,978,731","2,983,816","2,988,711","2,990,468","2,988,471","2,987,938","2,988,510","2,981,020","2,976,149",2958409,2949582,2938928,2939690
25,Missouri,MO,29,"5,995,974","6,010,275","6,024,367","6,040,715","6,056,202","6,071,732","6,087,135","6,106,670","6,121,623","6,137,428",6154426,6170393,6177168,6196156
26,Montana,MT,30,"990,697","997,316","1,003,783","1,013,569","1,021,869","1,030,475","1,040,859","1,052,482","1,060,665","1,068,778",1087211,1106366,1122878,1132812
27,Nebraska,NE,31,"1,829,542","1,840,672","1,853,303","1,865,279","1,879,321","1,891,277","1,905,616","1,915,947","1,925,614","1,934,408",1963273,1964253,1968060,1978379
28,Nevada,NV,32,"2,702,405","2,712,730","2,743,996","2,775,970","2,817,628","2,866,939","2,917,563","2,969,905","3,027,341","3,080,156",3115840,3146632,3177421,3194176
29,New Hampshire,NH,33,"1,316,762","1,320,202","1,324,232","1,326,622","1,333,341","1,336,350","1,342,307","1,348,787","1,353,465","1,359,711",1378702,1387494,1399003,1402054
30,New Jersey,NJ,34,"8,799,446","8,828,117","8,844,942","8,856,972","8,864,525","8,867,949","8,870,827","8,885,525","8,886,025","8,882,190",9272392,9269175,9260817,9290841
31,New Mexico,NM,35,"2,064,552","2,080,450","2,087,309","2,092,273","2,089,568","2,089,291","2,091,630","2,091,784","2,092,741","2,096,829",2118488,2116950,2113476,2114371
32,New York,NY,36,"19,399,878","19,499,241","19,572,932","19,624,447","19,651,049","19,654,666","19,633,428","19,589,572","19,530,351","19,453,561",20104710,19854526,19673200,19571216
33,North Carolina,NC,37,"9,574,323","9,657,592","9,749,476","9,843,336","9,932,887","10,031,646","10,154,788","10,268,233","10,381,615","10,488,084",10453812,10567100,10695965,10835491
34,North Dakota,ND,38,"674,715","685,225","701,176","722,036","737,401","754,066","754,434","754,942","758,080","762,062",779563,777982,778912,783926
35,Ohio,OH,39,"11,539,336","11,544,663","11,548,923","11,576,684","11,602,700","11,617,527","11,634,370","11,659,650","11,676,341","11,689,100",11798292,11765227,11759697,11785935
36,Oklahoma,OK,40,"3,759,944","3,788,379","3,818,814","3,853,214","3,878,187","3,909,500","3,926,331","3,931,316","3,940,235","3,956,971",3965234,3991634,4019271,4053824
37,Oregon,OR,41,"3,837,491","3,872,036","3,899,001","3,922,468","3,963,244","4,015,792","4,089,976","4,143,625","4,181,886","4,217,737",4245044,4256465,4239379,4233358
38,Pennsylvania,PA,42,"12,711,160","12,745,815","12,767,118","12,776,309","12,788,313","12,784,826","12,782,275","12,787,641","12,800,922","12,801,989",12995477,13013614,12972091,12961683
39,Rhode Island,RI,44,"1,053,959","1,053,649","1,054,621","1,055,081","1,055,936","1,056,065","1,056,770","1,055,673","1,058,287","1,059,361",1096444,1097092,1093842,1095962
40,South Carolina,SC,45,"4,635,649","4,671,994","4,717,354","4,764,080","4,823,617","4,891,938","4,957,968","5,021,268","5,084,156","5,148,714",5132151,5193848,5282955,5373555
41,South Dakota,SD,46,"816,166","823,579","833,566","842,316","849,129","853,988","862,996","872,868","878,698","884,659",887852,896299,909869,919318
42,Tennessee,TN,47,"6,355,311","6,399,291","6,453,898","6,494,340","6,541,223","6,591,170","6,646,010","6,708,799","6,771,631","6,829,174",6926091,6963709,7048976,7126489
43,Texas,TX,48,"25,241,971","25,645,629","26,084,481","26,480,266","26,964,333","27,470,056","27,914,410","28,295,273","28,628,666","28,995,881",29234361,29561286,30029848,30503301
44,Utah,UT,49,"2,775,332","2,814,384","2,853,375","2,897,640","2,936,879","2,981,835","3,041,868","3,101,042","3,153,550","3,205,958",3283982,3339284,3381236,3417734
45,Vermont,VT,50,"625,879","627,049","626,090","626,210","625,214","625,216","623,657","624,344","624,358","623,989",642936,647093,647110,647464
46,Virginia,VA,51,"8,023,699","8,101,155","8,185,080","8,252,427","8,310,993","8,361,808","8,410,106","8,463,587","8,501,286","8,535,519",8637193,8657348,8679099,8715698
47,Washington,WA,53,"6,742,830","6,826,627","6,897,058","6,963,985","7,054,655","7,163,657","7,294,771","7,423,362","7,523,869","7,614,893",7724566,7741433,7784477,7812880
48,West Virginia,WV,54,"1,854,239","1,856,301","1,856,872","1,853,914","1,849,489","1,842,050","1,831,023","1,817,004","1,804,291","1,792,147",1791562,1785249,1774035,1770071
49,Wisconsin,WI,55,"5,690,475","5,705,288","5,719,960","5,736,754","5,751,525","5,760,940","5,772,628","5,790,186","5,807,406","5,822,434",5896700,5879978,5890543,5910955
50,Wyoming,WY,56,"564,487","567,299","576,305","582,122","582,531","585,613","584,215","578,931","577,601","578,759",577664,579548,581629,584057
51,Puerto Rico,PR,72,"3,721,525","3,678,732","3,634,488","3,593,077","3,534,874","3,473,232","3,406,672","3,325,286","3,193,354","3,193,694",3281557,3262693,3220113,3205691

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   states       52 non-null     object
 1   states_code  52 non-null     object
 2   id           52 non-null     int64
 3   2010         52 non-null     object
 4   2011         52 non-null     object
 5   2012         52 non-null     object
 6   2013         52 non-null     object
 7   2014         52 non-null     object
 8   2015         52 non-null     object
 9   2016         52 non-null     object
 10  2017         52 non-null     object
 11  2018         52 non-null     object
 12  2019         52 non-null     object
 13  2020         52 non-null     int64
 14  2021         52 non-null     int64
 15  2022         52 non-null     int64
 16  2023         52 non-null     int64
dtypes: int64(5), object(12)
memory usage: 7.0+ KB

In [41]:
df = df.replace(',','', regex=True)

In [42]:
df

,states,states_code,id,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Alabama,AL,1,4785437,4799069,4815588,4830081,4841799,4852347,4863525,4874486,4887681,4903185,5031864,5050380,5073903,5108468
1,Alaska,AK,2,713910,722128,730443,737068,736283,737498,741456,739700,735139,731545,732964,734923,733276,733406
2,Arizona,AZ,4,6407172,6472643,6554978,6632764,6730413,6829676,6941072,7044008,7158024,7278717,7186683,7272487,7365684,7431344
3,Arkansas,AR,5,2921964,2940667,2952164,2959400,2967392,2978048,2989918,3001345,3009733,3017804,3014348,3028443,3046404,3067732
4,California,CA,6,37319502,37638369,37948800,38260787,38596972,38918045,39167117,39358497,39461588,39512223,39503200,39145060,39040616,38965193
5,Colorado,CO,8,5047349,5121108,5192647,5269035,5350101,5450623,5539215,5611885,5691287,5758736,5785219,5811596,5841039,5877610
6,Connecticut,CT,9,3579114,3588283,3594547,3594841,3594524,3587122,3578141,3573297,3571520,3565287,3577586,3603691,3608706,3617176
7,Delaware,DE,10,899593,907381,915179,923576,932487,941252,948921,956823,965479,973764,991862,1004881,1019459,1031890
8,District of Columbia,DC,11,605226,619800,634924,650581,662328,675400,685815,694906,701547,705749,670839,669037,670949,678972
9,Florida,FL,12,18845537,19053237,19297822,19545621,19845911,20209042,20613477,20963613,21244317,21477737,21591299,21830708,22245521,22610726
10,Georgia,GA,13,9711881,9802431,9901430,9972479,10067278,10178447,10301890,10410330,10511131,10617423,10732390,10790385,10913150,11029227
11,Hawaii,HI,15,1363963,1379329,1394804,1408243,1414538,1422052,1427559,1424393,1420593,1415872,1451181,1446745,1439399,1435138
12,Idaho,ID,16,1570746,1583910,1595324,1611206,1631112,1651059,1682380,1717715,1750536,1787065,1849339,1904537,1938996,1964726
13,Illinois,IL,17,12840503,12867454,12882510,12895129,12884493,12858913,12820527,12778828,12723071,12671821,12790357,12690341,12582515,12549689
14,Indiana,IN,18,6490432,6516528,6537703,6568713,6593644,6608422,6634304,6658078,6695497,6732219,6789098,6813798,6832274,6862199
15,Iowa,IA,19,3050745,3066336,3076190,3092997,3109350,3120960,3131371,3141550,3148618,3155070,3190904,3197944,3199693,3207004
16,Kansas,KS,20,2858190,2869225,2885257,2893212,2900475,2909011,2910844,2908718,2911359,2913314,2938124,2937946,2936716,2940546
17,Kentucky,KY,21,4348181,4369821,4386346,4404659,4414349,4425976,4438182,4452268,4461153,4467673,4508155,4507600,4511563,4526154
18,Louisiana,LA,22,4544532,4575625,4600972,4624527,4644013,4664628,4678135,4670560,4659690,4648794,4652022,4627047,4588023,4573749
19,Maine,ME,23,1327629,1328284,1327729,1328009,1330513,1328262,1331317,1334612,1339057,1344212,1364517,1378787,1389338,1395722
20,Maryland,MD,24,5788645,5839419,5886992,5923188,5957283,5985562,6003323,6023868,6035802,6045680,6173689,6175045,6163981,6180253
21,Massachusetts,MA,25,6566307,6613583,6663005,6713315,6762596,6794228,6823608,6859789,6882635,6892503,6997713,6991951,6982740,7001399
22,Michigan,MI,26,9877510,9882412,9897145,9913065,9929848,9931715,9950571,9973114,9984072,9986857,10070627,10038117,10033281,10037261
23,Minnesota,MN,27,5310828,5346143,5376643,5413479,5451079,5482032,5522744,5566230,5606249,5639632,5710578,5717968,5714300,5737915
24,Mississippi,MS,28,2970548,2978731,2983816,2988711,2990468,2988471,2987938,2988510,2981020,2976149,2958409,2949582,2938928,2939690
25,Missouri,MO,29,5995974,6010275,6024367,6040715,6056202,6071732,6087135,6106670,6121623,6137428,6154426,6170393,6177168,6196156
26,Montana,MT,30,990697,997316,1003783,1013569,1021869,1030475,1040859,1052482,1060665,1068778,1087211,1106366,1122878,1132812
27,Nebraska,NE,31,1829542,1840672,1853303,1865279,1879321,1891277,1905616,1915947,1925614,1934408,1963273,1964253,1968060,1978379
28,Nevada,NV,32,2702405,2712730,2743996,2775970,2817628,2866939,2917563,2969905,3027341,3080156,3115840,3146632,3177421,3194176
29,New Hampshire,NH,33,1316762,1320202,1324232,1326622,1333341,1336350,1342307,1348787,1353465,1359711,1378702,1387494,1399003,1402054
30,New Jersey,NJ,34,8799446,8828117,8844942,8856972,8864525,8867949,8870827,8885525,8886025,8882190,9272392,9269175,9260817,9290841
31,New Mexico,NM,35,2064552,2080450,2087309,2092273,2089568,2089291,2091630,2091784,2092741,2096829,2118488,2116950,2113476,2114371
32,New York,NY,36,19399878,19499241,19572932,19624447,19651049,19654666,19633428,19589572,19530351,19453561,20104710,19854526,19673200,19571216
33,North Carolina,NC,37,9574323,9657592,9749476,9843336,9932887,10031646,10154788,10268233,10381615,10488084,10453812,10567100,10695965,10835491
34,North Dakota,ND,38,674715,685225,701176,722036,737401,754066,754434,754942,758080,762062,779563,777982,778912,783926
35,Ohio,OH,39,11539336,11544663,11548923,11576684,11602700,11617527,11634370,11659650,11676341,11689100,11798292,11765227,11759697,11785935
36,Oklahoma,OK,40,3759944,3788379,3818814,3853214,3878187,3909500,3926331,3931316,3940235,3956971,3965234,3991634,4019271,4053824
37,Oregon,OR,41,3837491,3872036,3899001,3922468,3963244,4015792,4089976,4143625,4181886,4217737,4245044,4256465,4239379,4233358
38,Pennsylvania,PA,42,12711160,12745815,12767118,12776309,12788313,12784826,12782275,12787641,12800922,12801989,12995477,13013614,12972091,12961683
39,Rhode Island,RI,44,1053959,1053649,1054621,1055081,1055936,1056065,1056770,1055673,1058287,1059361,1096444,1097092,1093842,1095962
40,South Carolina,SC,45,4635649,4671994,4717354,4764080,4823617,4891938,4957968,5021268,5084156,5148714,5132151,5193848,5282955,5373555
41,South Dakota,SD,46,816166,823579,833566,842316,849129,853988,862996,872868,878698,884659,887852,896299,909869,919318
42,Tennessee,TN,47,6355311,6399291,6453898,6494340,6541223,6591170,6646010,6708799,6771631,6829174,6926091,6963709,7048976,7126489
43,Texas,TX,48,25241971,25645629,26084481,26480266,26964333,27470056,27914410,28295273,28628666,28995881,29234361,29561286,30029848,30503301
44,Utah,UT,49,2775332,2814384,2853375,2897640,2936879,2981835,3041868,3101042,3153550,3205958,3283982,3339284,3381236,3417734
45,Vermont,VT,50,625879,627049,626090,626210,625214,625216,623657,624344,624358,623989,642936,647093,647110,647464
46,Virginia,VA,51,8023699,8101155,8185080,8252427,8310993,8361808,8410106,8463587,8501286,8535519,8637193,8657348,8679099,8715698
47,Washington,WA,53,6742830,6826627,6897058,6963985,7054655,7163657,7294771,7423362,7523869,7614893,7724566,7741433,7784477,7812880
48,West Virginia,WV,54,1854239,1856301,1856872,1853914,1849489,1842050,1831023,1817004,1804291,1792147,1791562,1785249,1774035,1770071
49,Wisconsin,WI,55,5690475,5705288,5719960,5736754,5751525,5760940,5772628,5790186,5807406,5822434,5896700,5879978,5890543,5910955
50,Wyoming,WY,56,564487,567299,576305,582122,582531,585613,584215,578931,577601,578759,577664,579548,581629,584057
51,Puerto Rico,PR,72,3721525,3678732,3634488,3593077,3534874,3473232,3406672,3325286,3193354,3193694,3281557,3262693,3220113,3205691

In [43]:
 df.dropna()

,states,states_code,id,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Alabama,AL,1,4785437,4799069,4815588,4830081,4841799,4852347,4863525,4874486,4887681,4903185,5031864,5050380,5073903,5108468
1,Alaska,AK,2,713910,722128,730443,737068,736283,737498,741456,739700,735139,731545,732964,734923,733276,733406
2,Arizona,AZ,4,6407172,6472643,6554978,6632764,6730413,6829676,6941072,7044008,7158024,7278717,7186683,7272487,7365684,7431344
3,Arkansas,AR,5,2921964,2940667,2952164,2959400,2967392,2978048,2989918,3001345,3009733,3017804,3014348,3028443,3046404,3067732
4,California,CA,6,37319502,37638369,37948800,38260787,38596972,38918045,39167117,39358497,39461588,39512223,39503200,39145060,39040616,38965193
5,Colorado,CO,8,5047349,5121108,5192647,5269035,5350101,5450623,5539215,5611885,5691287,5758736,5785219,5811596,5841039,5877610
6,Connecticut,CT,9,3579114,3588283,3594547,3594841,3594524,3587122,3578141,3573297,3571520,3565287,3577586,3603691,3608706,3617176
7,Delaware,DE,10,899593,907381,915179,923576,932487,941252,948921,956823,965479,973764,991862,1004881,1019459,1031890
8,District of Columbia,DC,11,605226,619800,634924,650581,662328,675400,685815,694906,701547,705749,670839,669037,670949,678972
9,Florida,FL,12,18845537,19053237,19297822,19545621,19845911,20209042,20613477,20963613,21244317,21477737,21591299,21830708,22245521,22610726
10,Georgia,GA,13,9711881,9802431,9901430,9972479,10067278,10178447,10301890,10410330,10511131,10617423,10732390,10790385,10913150,11029227
11,Hawaii,HI,15,1363963,1379329,1394804,1408243,1414538,1422052,1427559,1424393,1420593,1415872,1451181,1446745,1439399,1435138
12,Idaho,ID,16,1570746,1583910,1595324,1611206,1631112,1651059,1682380,1717715,1750536,1787065,1849339,1904537,1938996,1964726
13,Illinois,IL,17,12840503,12867454,12882510,12895129,12884493,12858913,12820527,12778828,12723071,12671821,12790357,12690341,12582515,12549689
14,Indiana,IN,18,6490432,6516528,6537703,6568713,6593644,6608422,6634304,6658078,6695497,6732219,6789098,6813798,6832274,6862199
15,Iowa,IA,19,3050745,3066336,3076190,3092997,3109350,3120960,3131371,3141550,3148618,3155070,3190904,3197944,3199693,3207004
16,Kansas,KS,20,2858190,2869225,2885257,2893212,2900475,2909011,2910844,2908718,2911359,2913314,2938124,2937946,2936716,2940546
17,Kentucky,KY,21,4348181,4369821,4386346,4404659,4414349,4425976,4438182,4452268,4461153,4467673,4508155,4507600,4511563,4526154
18,Louisiana,LA,22,4544532,4575625,4600972,4624527,4644013,4664628,4678135,4670560,4659690,4648794,4652022,4627047,4588023,4573749
19,Maine,ME,23,1327629,1328284,1327729,1328009,1330513,1328262,1331317,1334612,1339057,1344212,1364517,1378787,1389338,1395722
20,Maryland,MD,24,5788645,5839419,5886992,5923188,5957283,5985562,6003323,6023868,6035802,6045680,6173689,6175045,6163981,6180253
21,Massachusetts,MA,25,6566307,6613583,6663005,6713315,6762596,6794228,6823608,6859789,6882635,6892503,6997713,6991951,6982740,7001399
22,Michigan,MI,26,9877510,9882412,9897145,9913065,9929848,9931715,9950571,9973114,9984072,9986857,10070627,10038117,10033281,10037261
23,Minnesota,MN,27,5310828,5346143,5376643,5413479,5451079,5482032,5522744,5566230,5606249,5639632,5710578,5717968,5714300,5737915
24,Mississippi,MS,28,2970548,2978731,2983816,2988711,2990468,2988471,2987938,2988510,2981020,2976149,2958409,2949582,2938928,2939690
25,Missouri,MO,29,5995974,6010275,6024367,6040715,6056202,6071732,6087135,6106670,6121623,6137428,6154426,6170393,6177168,6196156
26,Montana,MT,30,990697,997316,1003783,1013569,1021869,1030475,1040859,1052482,1060665,1068778,1087211,1106366,1122878,1132812
27,Nebraska,NE,31,1829542,1840672,1853303,1865279,1879321,1891277,1905616,1915947,1925614,1934408,1963273,1964253,1968060,1978379
28,Nevada,NV,32,2702405,2712730,2743996,2775970,2817628,2866939,2917563,2969905,3027341,3080156,3115840,3146632,3177421,3194176
29,New Hampshire,NH,33,1316762,1320202,1324232,1326622,1333341,1336350,1342307,1348787,1353465,1359711,1378702,1387494,1399003,1402054
30,New Jersey,NJ,34,8799446,8828117,8844942,8856972,8864525,8867949,8870827,8885525,8886025,8882190,9272392,9269175,9260817,9290841
31,New Mexico,NM,35,2064552,2080450,2087309,2092273,2089568,2089291,2091630,2091784,2092741,2096829,2118488,2116950,2113476,2114371
32,New York,NY,36,19399878,19499241,19572932,19624447,19651049,19654666,19633428,19589572,19530351,19453561,20104710,19854526,19673200,19571216
33,North Carolina,NC,37,9574323,9657592,9749476,9843336,9932887,10031646,10154788,10268233,10381615,10488084,10453812,10567100,10695965,10835491
34,North Dakota,ND,38,674715,685225,701176,722036,737401,754066,754434,754942,758080,762062,779563,777982,778912,783926
35,Ohio,OH,39,11539336,11544663,11548923,11576684,11602700,11617527,11634370,11659650,11676341,11689100,11798292,11765227,11759697,11785935
36,Oklahoma,OK,40,3759944,3788379,3818814,3853214,3878187,3909500,3926331,3931316,3940235,3956971,3965234,3991634,4019271,4053824
37,Oregon,OR,41,3837491,3872036,3899001,3922468,3963244,4015792,4089976,4143625,4181886,4217737,4245044,4256465,4239379,4233358
38,Pennsylvania,PA,42,12711160,12745815,12767118,12776309,12788313,12784826,12782275,12787641,12800922,12801989,12995477,13013614,12972091,12961683
39,Rhode Island,RI,44,1053959,1053649,1054621,1055081,1055936,1056065,1056770,1055673,1058287,1059361,1096444,1097092,1093842,1095962
40,South Carolina,SC,45,4635649,4671994,4717354,4764080,4823617,4891938,4957968,5021268,5084156,5148714,5132151,5193848,5282955,5373555
41,South Dakota,SD,46,816166,823579,833566,842316,849129,853988,862996,872868,878698,884659,887852,896299,909869,919318
42,Tennessee,TN,47,6355311,6399291,6453898,6494340,6541223,6591170,6646010,6708799,6771631,6829174,6926091,6963709,7048976,7126489
43,Texas,TX,48,25241971,25645629,26084481,26480266,26964333,27470056,27914410,28295273,28628666,28995881,29234361,29561286,30029848,30503301
44,Utah,UT,49,2775332,2814384,2853375,2897640,2936879,2981835,3041868,3101042,3153550,3205958,3283982,3339284,3381236,3417734
45,Vermont,VT,50,625879,627049,626090,626210,625214,625216,623657,624344,624358,623989,642936,647093,647110,647464
46,Virginia,VA,51,8023699,8101155,8185080,8252427,8310993,8361808,8410106,8463587,8501286,8535519,8637193,8657348,8679099,8715698
47,Washington,WA,53,6742830,6826627,6897058,6963985,7054655,7163657,7294771,7423362,7523869,7614893,7724566,7741433,7784477,7812880
48,West Virginia,WV,54,1854239,1856301,1856872,1853914,1849489,1842050,1831023,1817004,1804291,1792147,1791562,1785249,1774035,1770071
49,Wisconsin,WI,55,5690475,5705288,5719960,5736754,5751525,5760940,5772628,5790186,5807406,5822434,5896700,5879978,5890543,5910955
50,Wyoming,WY,56,564487,567299,576305,582122,582531,585613,584215,578931,577601,578759,577664,579548,581629,584057
51,Puerto Rico,PR,72,3721525,3678732,3634488,3593077,3534874,3473232,3406672,3325286,3193354,3193694,3281557,3262693,3220113,3205691

In [44]:

# Save data to CSV
df.to_csv('us-population-2010-2023-states-code.csv', index=False)

### Data Preprocessing

In [45]:

# Reshape the DataFrame
df_reshaped = pd.melt(df, id_vars=['states', 'states_code', 'id'], var_name='year', value_name='population')

# Convert 'year' column values to integers
df_reshaped['states'] = df_reshaped['states'].astype(str)
df_reshaped['year'] = df_reshaped['year'].astype(int)
#df_reshaped['population'] = df_reshaped['population'].str.replace(',', '').astype(int)

df_reshaped

                   states states_code  id  year population
0                 Alabama          AL   1  2010    4785437
1                  Alaska          AK   2  2010     713910
2                 Arizona          AZ   4  2010    6407172
3                Arkansas          AR   5  2010    2921964
4              California          CA   6  2010   37319502
5                Colorado          CO   8  2010    5047349
6             Connecticut          CT   9  2010    3579114
7                Delaware          DE  10  2010     899593
8    District of Columbia          DC  11  2010     605226
9                 Florida          FL  12  2010   18845537
10                Georgia          GA  13  2010    9711881
11                 Hawaii          HI  15  2010    1363963
12                  Idaho          ID  16  2010    1570746
13               Illinois          IL  17  2010   12840503
14                Indiana          IN  18  2010    6490432
15                   Iowa          IA  19  2010    3050745
16                 Kansas          KS  20  2010    2858190
17               Kentucky          KY  21  2010    4348181
18              Louisiana          LA  22  2010    4544532
19                  Maine          ME  23  2010    1327629
20               Maryland          MD  24  2010    5788645
21          Massachusetts          MA  25  2010    6566307
22               Michigan          MI  26  2010    9877510
23              Minnesota          MN  27  2010    5310828
24            Mississippi          MS  28  2010    2970548
25               Missouri          MO  29  2010    5995974
26                Montana          MT  30  2010     990697
27               Nebraska          NE  31  2010    1829542
28                 Nevada          NV  32  2010    2702405
29          New Hampshire          NH  33  2010    1316762
30             New Jersey          NJ  34  2010    8799446
31             New Mexico          NM  35  2010    2064552
32               New York          NY  36  2010   19399878
33         North Carolina          NC  37  2010    9574323
34           North Dakota          ND  38  2010     674715
35                   Ohio          OH  39  2010   11539336
36               Oklahoma          OK  40  2010    3759944
37                 Oregon          OR  41  2010    3837491
38           Pennsylvania          PA  42  2010   12711160
39           Rhode Island          RI  44  2010    1053959
40         South Carolina          SC  45  2010    4635649
41           South Dakota          SD  46  2010     816166
42              Tennessee          TN  47  2010    6355311
43                  Texas          TX  48  2010   25241971
44                   Utah          UT  49  2010    2775332
45                Vermont          VT  50  2010     625879
46               Virginia          VA  51  2010    8023699
47             Washington          WA  53  2010    6742830
48          West Virginia          WV  54  2010    1854239
49              Wisconsin          WI  55  2010    5690475
50                Wyoming          WY  56  2010     564487
51            Puerto Rico          PR  72  2010    3721525
52                Alabama          AL   1  2011    4799069
53                 Alaska          AK   2  2011     722128
54                Arizona          AZ   4  2011    6472643
55               Arkansas          AR   5  2011    2940667
56             California          CA   6  2011   37638369
57               Colorado          CO   8  2011    5121108
58            Connecticut          CT   9  2011    3588283
59               Delaware          DE  10  2011     907381
60   District of Columbia          DC  11  2011     619800
61                Florida          FL  12  2011   19053237
62                Georgia          GA  13  2011    9802431
63                 Hawaii          HI  15  2011    1379329
64                  Idaho          ID  16  2011    1583910
65               Illinois          IL  17  2011   12867454
66                Indiana          IN  18  2011    6516528
67                   Iowa          IA  19  2011    3066336
68                 Kansas          KS  20  2011    2869225
69               Kentucky          KY  21  2011    4369821
70              Louisiana          LA  22  2011    4575625
71                  Maine          ME  23  2011    1328284
72               Maryland          MD  24  2011    5839419
73          Massachusetts          MA  25  2011    6613583
74               Michigan          MI  26  2011    9882412
75              Minnesota          MN  27  2011    5346143
76            Mississippi          MS  28  2011    2978731
77               Missouri          MO  29  2011    6010275
78                Montana          MT  30  2011     997316
79               Nebraska          NE  31  2011    1840672
80                 Nevada          NV  32  2011    2712730
81          New Hampshire          NH  33  2011    1320202
82             New Jersey          NJ  34  2011    8828117
83             New Mexico          NM  35  2011    2080450
84               New York          NY  36  2011   19499241
85         North Carolina          NC  37  2011    9657592
86           North Dakota          ND  38  2011     685225
87                   Ohio          OH  39  2011   11544663
88               Oklahoma          OK  40  2011    3788379
89                 Oregon          OR  41  2011    3872036
90           Pennsylvania          PA  42  2011   12745815
91           Rhode Island          RI  44  2011    1053649
92         South Carolina          SC  45  2011    4671994
93           South Dakota          SD  46  2011     823579
94              Tennessee          TN  47  2011    6399291
95                  Texas          TX  48  2011   25645629
96                   Utah          UT  49  2011    2814384
97                Vermont          VT  50  2011     627049
98               Virginia          VA  51  2011    8101155
99             Washington          WA  53  2011    6826627
100         West Virginia          WV  54  2011    1856301
101             Wisconsin          WI  55  2011    5705288
102               Wyoming          WY  56  2011     567299
103           Puerto Rico          PR  72  2011    3678732
104               Alabama          AL   1  2012    4815588
105                Alaska          AK   2  2012     730443
106               Arizona          AZ   4  2012    6554978
107              Arkansas          AR   5  2012    2952164
108            California          CA   6  2012   37948800
109              Colorado          CO   8  2012    5192647
110           Connecticut          CT   9  2012    3594547
111              Delaware          DE  10  2012     915179
112  District of Columbia          DC  11  2012     634924
113               Florida          FL  12  2012   19297822
114               Georgia          GA  13  2012    9901430
115                Hawaii          HI  15  2012    1394804
116                 Idaho          ID  16  2012    1595324
117              Illinois          IL  17  2012   12882510
118               Indiana          IN  18  2012    6537703
119                  Iowa          IA  19  2012    3076190
120                Kansas          KS  20  2012    2885257
121              Kentucky          KY  21  2012    4386346
122             Louisiana          LA  22  2012    4600972
123                 Maine          ME  23  2012    1327729
124              Maryland          MD  24  2012    5886992
125         Massachusetts          MA  25  2012    6663005
126              Michigan          MI  26  2012    9897145
127             Minnesota          MN  27  2012    5376643
128           Mississippi          MS  28  2012    2983816
129              Missouri          MO  29  2012    6024367
130               Montana          MT  30  2012    1003783
131              Nebraska          NE  31  2012    1853303
132                Nevada          NV  32  2012    2743996
133         New Hampshire          NH  33  2012    1324232
134            New Jersey          NJ  34  2012    8844942
135            New Mexico          NM  35  2012    2087309
136              New York          NY  36  2012   19572932
137        North Carolina          NC  37  2012    9749476
138          North Dakota          ND  38  2012     701176
139                  Ohio          OH  39  2012   11548923
140              Oklahoma          OK  40  2012    3818814
141                Oregon          OR  41  2012    3899001
142          Pennsylvania          PA  42  2012   12767118
143          Rhode Island          RI  44  2012    1054621
144        South Carolina          SC  45  2012    4717354
145          South Dakota          SD  46  2012     833566
146             Tennessee          TN  47  2012    6453898
147                 Texas          TX  48  2012   26084481
148                  Utah          UT  49  2012    2853375
149               Vermont          VT  50  2012     626090
150              Virginia          VA  51  2012    8185080
151            Washington          WA  53  2012    6897058
152         West Virginia          WV  54  2012    1856872
153             Wisconsin          WI  55  2012    5719960
154               Wyoming          WY  56  2012     576305
155           Puerto Rico          PR  72  2012    3634488
156               Alabama          AL   1  2013    4830081
157                Alaska          AK   2  2013     737068
158               Arizona          AZ   4  2013    6632764
159              Arkansas          AR   5  2013    2959400
160            California          CA   6  2013   38260787
161              Colorado          CO   8  2013    5269035
162           Connecticut          CT   9  2013    3594841
163              Delaware          DE  10  2013     923576
164  District of Columbia          DC  11  2013     650581
165               Florida          FL  12  2013   19545621
166               Georgia          GA  13  2013    9972479
167                Hawaii          HI  15  2013    1408243
168                 Idaho          ID  16  2013    1611206
169              Illinois          IL  17  2013   12895129
170               Indiana          IN  18  2013    6568713
171                  Iowa          IA  19  2013    3092997
172                Kansas          KS  20  2013    2893212
173              Kentucky          KY  21  2013    4404659
174             Louisiana          LA  22  2013    4624527
175                 Maine          ME  23  2013    1328009
176              Maryland          MD  24  2013    5923188
177         Massachusetts          MA  25  2013    6713315
178              Michigan          MI  26  2013    9913065
179             Minnesota          MN  27  2013    5413479
180           Mississippi          MS  28  2013    2988711
181              Missouri          MO  29  2013    6040715
182               Montana          MT  30  2013    1013569
183              Nebraska          NE  31  2013    1865279
184                Nevada          NV  32  2013    2775970
185         New Hampshire          NH  33  2013    1326622
186            New Jersey          NJ  34  2013    8856972
187            New Mexico          NM  35  2013    2092273
188              New York          NY  36  2013   19624447
189        North Carolina          NC  37  2013    9843336
190          North Dakota          ND  38  2013     722036
191                  Ohio          OH  39  2013   11576684
192              Oklahoma          OK  40  2013    3853214
193                Oregon          OR  41  2013    3922468
194          Pennsylvania          PA  42  2013   12776309
195          Rhode Island          RI  44  2013    1055081
196        South Carolina          SC  45  2013    4764080
197          South Dakota          SD  46  2013     842316
198             Tennessee          TN  47  2013    6494340
199                 Texas          TX  48  2013   26480266
200                  Utah          UT  49  2013    2897640
201               Vermont          VT  50  2013     626210
202              Virginia          VA  51  2013    8252427
203            Washington          WA  53  2013    6963985
204         West Virginia          WV  54  2013    1853914
205             Wisconsin          WI  55  2013    5736754
206               Wyoming          WY  56  2013     582122
207           Puerto Rico          PR  72  2013    3593077
208               Alabama          AL   1  2014    4841799
209                Alaska          AK   2  2014     736283
210               Arizona          AZ   4  2014    6730413
211              Arkansas          AR   5  2014    2967392
212            California          CA   6  2014   38596972
213              Colorado          CO   8  2014    5350101
214           Connecticut          CT   9  2014    3594524
215              Delaware          DE  10  2014     932487
216  District of Columbia          DC  11  2014     662328
217               Florida          FL  12  2014   19845911
218               Georgia          GA  13  2014   10067278
219                Hawaii          HI  15  2014    1414538
220                 Idaho          ID  16  2014    1631112
221              Illinois          IL  17  2014   12884493
222               Indiana          IN  18  2014    6593644
223                  Iowa          IA  19  2014    3109350
224                Kansas          KS  20  2014    2900475
225              Kentucky          KY  21  2014    4414349
226             Louisiana          LA  22  2014    4644013
227                 Maine          ME  23  2014    1330513
228              Maryland          MD  24  2014    5957283
229         Massachusetts          MA  25  2014    6762596
230              Michigan          MI  26  2014    9929848
231             Minnesota          MN  27  2014    5451079
232           Mississippi          MS  28  2014    2990468
233              Missouri          MO  29  2014    6056202
234               Montana          MT  30  2014    1021869
235              Nebraska          NE  31  2014    1879321
236                Nevada          NV  32  2014    2817628
237         New Hampshire          NH  33  2014    1333341
238            New Jersey          NJ  34  2014    8864525
239            New Mexico          NM  35  2014    2089568
240              New York          NY  36  2014   19651049
241        North Carolina          NC  37  2014    9932887
242          North Dakota          ND  38  2014     737401
243                  Ohio          OH  39  2014   11602700
244              Oklahoma          OK  40  2014    3878187
245                Oregon          OR  41  2014    3963244
246          Pennsylvania          PA  42  2014   12788313
247          Rhode Island          RI  44  2014    1055936
248        South Carolina          SC  45  2014    4823617
249          South Dakota          SD  46  2014     849129
250             Tennessee          TN  47  2014    6541223
251                 Texas          TX  48  2014   26964333
252                  Utah          UT  49  2014    2936879
253               Vermont          VT  50  2014     625214
254              Virginia          VA  51  2014    8310993
255            Washington          WA  53  2014    7054655
256         West Virginia          WV  54  2014    1849489
257             Wisconsin          WI  55  2014    5751525
258               Wyoming          WY  56  2014     582531
259           Puerto Rico          PR  72  2014    3534874
260               Alabama          AL   1  2015    4852347
261                Alaska          AK   2  2015     737498
262               Arizona          AZ   4  2015    6829676
263              Arkansas          AR   5  2015    2978048
264            California          CA   6  2015   38918045
265              Colorado          CO   8  2015    5450623
266           Connecticut          CT   9  2015    3587122
267              Delaware          DE  10  2015     941252
268  District of Columbia          DC  11  2015     675400
269               Florida          FL  12  2015   20209042
270               Georgia          GA  13  2015   10178447
271                Hawaii          HI  15  2015    1422052
272                 Idaho          ID  16  2015    1651059
273              Illinois          IL  17  2015   12858913
274               Indiana          IN  18  2015    6608422
275                  Iowa          IA  19  2015    3120960
276                Kansas          KS  20  2015    2909011
277              Kentucky          KY  21  2015    4425976
278             Louisiana          LA  22  2015    4664628
279                 Maine          ME  23  2015    1328262
280              Maryland          MD  24  2015    5985562
281         Massachusetts          MA  25  2015    6794228
282              Michigan          MI  26  2015    9931715
283             Minnesota          MN  27  2015    5482032
284           Mississippi          MS  28  2015    2988471
285              Missouri          MO  29  2015    6071732
286               Montana          MT  30  2015    1030475
287              Nebraska          NE  31  2015    1891277
288                Nevada          NV  32  2015    2866939
289         New Hampshire          NH  33  2015    1336350
290            New Jersey          NJ  34  2015    8867949
291            New Mexico          NM  35  2015    2089291
292              New York          NY  36  2015   19654666
293        North Carolina          NC  37  2015   10031646
294          North Dakota          ND  38  2015     754066
295                  Ohio          OH  39  2015   11617527
296              Oklahoma          OK  40  2015    3909500
297                Oregon          OR  41  2015    4015792
298          Pennsylvania          PA  42  2015   12784826
299          Rhode Island          RI  44  2015    1056065
300        South Carolina          SC  45  2015    4891938
301          South Dakota          SD  46  2015     853988
302             Tennessee          TN  47  2015    6591170
303                 Texas          TX  48  2015   27470056
304                  Utah          UT  49  2015    2981835
305               Vermont          VT  50  2015     625216
306              Virginia          VA  51  2015    8361808
307            Washington          WA  53  2015    7163657
308         West Virginia          WV  54  2015    1842050
309             Wisconsin          WI  55  2015    5760940
310               Wyoming          WY  56  2015     585613
311           Puerto Rico          PR  72  2015    3473232
312               Alabama          AL   1  2016    4863525
313                Alaska          AK   2  2016     741456
314               Arizona          AZ   4  2016    6941072
315              Arkansas          AR   5  2016    2989918
316            California          CA   6  2016   39167117
317              Colorado          CO   8  2016    5539215
318           Connecticut          CT   9  2016    3578141
319              Delaware          DE  10  2016     948921
320  District of Columbia          DC  11  2016     685815
321               Florida          FL  12  2016   20613477
322               Georgia          GA  13  2016   10301890
323                Hawaii          HI  15  2016    1427559
324                 Idaho          ID  16  2016    1682380
325              Illinois          IL  17  2016   12820527
326               Indiana          IN  18  2016    6634304
327                  Iowa          IA  19  2016    3131371
328                Kansas          KS  20  2016    2910844
329              Kentucky          KY  21  2016    4438182
330             Louisiana          LA  22  2016    4678135
331                 Maine          ME  23  2016    1331317
332              Maryland          MD  24  2016    6003323
333         Massachusetts          MA  25  2016    6823608
334              Michigan          MI  26  2016    9950571
335             Minnesota          MN  27  2016    5522744
336           Mississippi          MS  28  2016    2987938

In [46]:
# Save reshaped data to CSV
df_reshaped.to_csv('us-population-2010-2023-reshaped.csv')

In [47]:
# Subset dataframe by year
selected_year = 2023
df_selected_year = df_reshaped[df_reshaped.year == selected_year]
df_selected_year

                   states states_code  id  year population
676               Alabama          AL   1  2023    5108468
677                Alaska          AK   2  2023     733406
678               Arizona          AZ   4  2023    7431344
679              Arkansas          AR   5  2023    3067732
680            California          CA   6  2023   38965193
681              Colorado          CO   8  2023    5877610
682           Connecticut          CT   9  2023    3617176
683              Delaware          DE  10  2023    1031890
684  District of Columbia          DC  11  2023     678972
685               Florida          FL  12  2023   22610726
686               Georgia          GA  13  2023   11029227
687                Hawaii          HI  15  2023    1435138
688                 Idaho          ID  16  2023    1964726
689              Illinois          IL  17  2023   12549689
690               Indiana          IN  18  2023    6862199
691                  Iowa          IA  19  2023    3207004
692                Kansas          KS  20  2023    2940546
693              Kentucky          KY  21  2023    4526154
694             Louisiana          LA  22  2023    4573749
695                 Maine          ME  23  2023    1395722
696              Maryland          MD  24  2023    6180253
697         Massachusetts          MA  25  2023    7001399
698              Michigan          MI  26  2023   10037261
699             Minnesota          MN  27  2023    5737915
700           Mississippi          MS  28  2023    2939690
701              Missouri          MO  29  2023    6196156
702               Montana          MT  30  2023    1132812
703              Nebraska          NE  31  2023    1978379
704                Nevada          NV  32  2023    3194176
705         New Hampshire          NH  33  2023    1402054
706            New Jersey          NJ  34  2023    9290841
707            New Mexico          NM  35  2023    2114371
708              New York          NY  36  2023   19571216
709        North Carolina          NC  37  2023   10835491
710          North Dakota          ND  38  2023     783926
711                  Ohio          OH  39  2023   11785935
712              Oklahoma          OK  40  2023    4053824
713                Oregon          OR  41  2023    4233358
714          Pennsylvania          PA  42  2023   12961683
715          Rhode Island          RI  44  2023    1095962
716        South Carolina          SC  45  2023    5373555
717          South Dakota          SD  46  2023     919318
718             Tennessee          TN  47  2023    7126489
719                 Texas          TX  48  2023   30503301
720                  Utah          UT  49  2023    3417734
721               Vermont          VT  50  2023     647464
722              Virginia          VA  51  2023    8715698
723            Washington          WA  53  2023    7812880
724         West Virginia          WV  54  2023    1770071
725             Wisconsin          WI  55  2023    5910955
726               Wyoming          WY  56  2023     584057
727           Puerto Rico          PR  72  2023    3205691

In [48]:
# Sort by year
df_selected_year_sorted = df_selected_year.sort_values(by="population", ascending=False)
df_selected_year_sorted

                   states states_code  id  year population
680            California          CA   6  2023   38965193
719                 Texas          TX  48  2023   30503301
685               Florida          FL  12  2023   22610726
708              New York          NY  36  2023   19571216
714          Pennsylvania          PA  42  2023   12961683
689              Illinois          IL  17  2023   12549689
711                  Ohio          OH  39  2023   11785935
686               Georgia          GA  13  2023   11029227
709        North Carolina          NC  37  2023   10835491
698              Michigan          MI  26  2023   10037261
706            New Jersey          NJ  34  2023    9290841
722              Virginia          VA  51  2023    8715698
723            Washington          WA  53  2023    7812880
678               Arizona          AZ   4  2023    7431344
718             Tennessee          TN  47  2023    7126489
697         Massachusetts          MA  25  2023    7001399
690               Indiana          IN  18  2023    6862199
701              Missouri          MO  29  2023    6196156
696              Maryland          MD  24  2023    6180253
725             Wisconsin          WI  55  2023    5910955
681              Colorado          CO   8  2023    5877610
699             Minnesota          MN  27  2023    5737915
716        South Carolina          SC  45  2023    5373555
676               Alabama          AL   1  2023    5108468
694             Louisiana          LA  22  2023    4573749
693              Kentucky          KY  21  2023    4526154
713                Oregon          OR  41  2023    4233358
712              Oklahoma          OK  40  2023    4053824
682           Connecticut          CT   9  2023    3617176
720                  Utah          UT  49  2023    3417734
691                  Iowa          IA  19  2023    3207004
727           Puerto Rico          PR  72  2023    3205691
704                Nevada          NV  32  2023    3194176
679              Arkansas          AR   5  2023    3067732
692                Kansas          KS  20  2023    2940546
700           Mississippi          MS  28  2023    2939690
707            New Mexico          NM  35  2023    2114371
703              Nebraska          NE  31  2023    1978379
688                 Idaho          ID  16  2023    1964726
724         West Virginia          WV  54  2023    1770071
687                Hawaii          HI  15  2023    1435138
705         New Hampshire          NH  33  2023    1402054
695                 Maine          ME  23  2023    1395722
702               Montana          MT  30  2023    1132812
715          Rhode Island          RI  44  2023    1095962
683              Delaware          DE  10  2023    1031890
717          South Dakota          SD  46  2023     919318
710          North Dakota          ND  38  2023     783926
677                Alaska          AK   2  2023     733406
684  District of Columbia          DC  11  2023     678972
721               Vermont          VT  50  2023     647464
726               Wyoming          WY  56  2023     584057

In [49]:
# Calculate population difference between selected and previous year
def calculate_population_difference(input_df, input_year):
  selected_year_data = input_df[input_df['year'] == input_year].reset_index()
  previous_year_data = input_df[input_df['year'] == input_year - 1].reset_index()
  selected_year_data['population_difference'] = selected_year_data.population.sub(previous_year_data.population, fill_value=0)
  selected_year_data['population_difference_absolute'] = abs(selected_year_data['population_difference'])
  return pd.concat([selected_year_data.states, selected_year_data.id, selected_year_data.population, selected_year_data.population_difference, selected_year_data.population_difference_absolute], axis=1).sort_values(by="population_difference", ascending=False)

df_population_difference_sorted = calculate_population_difference(df_reshaped, selected_year)
df_population_difference_sorted

,states,id,population,population_difference,population_difference_absolute
43,Texas,48,30503301,473453,473453
9,Florida,12,22610726,365205,365205
33,North Carolina,37,10835491,139526,139526
10,Georgia,13,11029227,116077,116077
40,South Carolina,45,5373555,90600,90600
42,Tennessee,47,7126489,77513,77513
2,Arizona,4,7431344,65660,65660
46,Virginia,51,8715698,36599,36599
5,Colorado,8,5877610,36571,36571
44,Utah,49,3417734,36498,36498
0,Alabama,1,5108468,34565,34565
36,Oklahoma,40,4053824,34553,34553
30,New Jersey,34,9290841,30024,30024
14,Indiana,18,6862199,29925,29925
47,Washington,53,7812880,28403,28403
35,Ohio,39,11785935,26238,26238
12,Idaho,16,1964726,25730,25730
23,Minnesota,27,5737915,23615,23615
3,Arkansas,5,3067732,21328,21328
49,Wisconsin,55,5910955,20412,20412
25,Missouri,29,6196156,18988,18988
21,Massachusetts,25,7001399,18659,18659
28,Nevada,32,3194176,16755,16755
20,Maryland,24,6180253,16272,16272
17,Kentucky,21,4526154,14591,14591
7,Delaware,10,1031890,12431,12431
27,Nebraska,31,1978379,10319,10319
26,Montana,30,1132812,9934,9934
41,South Dakota,46,919318,9449,9449
6,Connecticut,9,3617176,8470,8470
8,District of Columbia,11,678972,8023,8023
15,Iowa,19,3207004,7311,7311
19,Maine,23,1395722,6384,6384
34,North Dakota,38,783926,5014,5014
22,Michigan,26,10037261,3980,3980
16,Kansas,20,2940546,3830,3830
29,New Hampshire,33,1402054,3051,3051
50,Wyoming,56,584057,2428,2428
39,Rhode Island,44,1095962,2120,2120
31,New Mexico,35,2114371,895,895
24,Mississippi,28,2939690,762,762
45,Vermont,50,647464,354,354
1,Alaska,2,733406,130,130
48,West Virginia,54,1770071,-3964,3964
11,Hawaii,15,1435138,-4261,4261
37,Oregon,41,4233358,-6021,6021
38,Pennsylvania,42,12961683,-10408,10408
18,Louisiana,22,4573749,-14274,14274
51,Puerto Rico,72,3205691,-14422,14422
13,Illinois,17,12549689,-32826,32826
4,California,6,38965193,-75423,75423
32,New York,36,19571216,-101984,101984

In [50]:

# Filter states with population difference > 50000
df_greater_50000 = df_population_difference_sorted[df_population_difference_sorted.population_difference_absolute > 50000]
df_greater_50000

,states,id,population,population_difference,population_difference_absolute
43,Texas,48,30503301,473453,473453
9,Florida,12,22610726,365205,365205
33,North Carolina,37,10835491,139526,139526
10,Georgia,13,11029227,116077,116077
40,South Carolina,45,5373555,90600,90600
42,Tennessee,47,7126489,77513,77513
2,Arizona,4,7431344,65660,65660
4,California,6,38965193,-75423,75423
32,New York,36,19571216,-101984,101984

In [51]:

# % of States with population difference > 50000
int((len(df_greater_50000)/df_population_difference_sorted.states.nunique())*100)

17

# Plots

## Heatmap

In [52]:
import altair as alt

alt.themes.enable("dark")

heatmap = alt.Chart(df_reshaped).mark_rect().encode(
        y=alt.Y('year:O', axis=alt.Axis(title="Year", titleFontSize=16, titlePadding=15, titleFontWeight=900, labelAngle=0)),
        x=alt.X('states:O', axis=alt.Axis(title="States", titleFontSize=16, titlePadding=15, titleFontWeight=900)),
        color=alt.Color('max(population):Q',
                         legend=alt.Legend(title=" "),
                         scale=alt.Scale(scheme="blueorange")),
        stroke=alt.value('black'),
        strokeWidth=alt.value(0.25),
        #tooltip=[
        #    alt.Tooltip('year:O', title='Year'),
        #    alt.Tooltip('population:Q', title='Population')
        #]
    ).properties(width=900
    #).configure_legend(orient='bottom', titleFontSize=16, labelFontSize=14, titlePadding=0
    #).configure_axisX(labelFontSize=14)
    ).configure_axis(
    labelFontSize=12,
    titleFontSize=12
    )

heatmap

alt.Chart(...)

# Choropleth

In [53]:
# Choropleth via Altair
import altair as alt
from vega_datasets import data

alt.themes.enable("dark")

states = alt.topo_feature(data.us_10m.url, 'states')

alt.Chart(states).mark_geoshape().encode(
    color=alt.Color('population:Q', scale=alt.Scale(scheme='blues')),   # scale=color_scale
    stroke=alt.value('#154360')
).transform_lookup(
    lookup='id',
    from_=alt.LookupData(df_selected_year, 'id', list(df_selected_year.columns))
).properties(
    width=500,
    height=300
).project(
    type='albersUsa'
)

alt.Chart(...)

In [54]:

# Choropleth via Plotly
import plotly.express as px

choropleth = px.choropleth(df_selected_year, locations='states_code', color='population', locationmode="USA-states",
                               color_continuous_scale='mint',
                               range_color=(0, max(df_selected_year.population)),
                               scope="usa",
                               labels={'population':'Population'}
                              )
choropleth.update_layout(
        template='plotly_dark',
        plot_bgcolor='rgba(0, 0, 0, 0)',
        paper_bgcolor='rgba(0, 0, 0, 0)',
        margin=dict(l=0, r=0, t=0, b=0),
        height=350
    )

choropleth